

.video-res{
  width:854px;
  height:480px;
}


@media only screen and (max-width: 1024px) {
  .video-res{
    width:640px;
    height:360px;
  }

  
}

@media only screen and (max-width: 767px) {
  .video-res{
    width:426px;
    height:240px;
  }
}

@media only screen and (max-width: 480px) {
  

 
    
    .video-res{
      width:unset ;
      height:unset ;
    }

  
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
 
                    .video-res{
                      width:426px;
                      height:240px;
                    }     

}

 
 

