
 @font-face {
  font-family: rez;
  src: url("../fonts/REZ.ttf");
}

@font-face {
  font-family: caviar;
  src: url("../fonts/CaviarDreams.ttf");
}
       
@font-face {
  font-family: cl;
  src: url("../fonts/ChampagneAndLimousines.ttf");
}

@font-face {
  font-family: hn;
  src: url("../fonts/HelveticaNeue.ttf");
}



* {
    font-family: 'Audiowide', cursive;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    
  }
  *, :after, :before {
    box-sizing: inherit;
  }
  html{
    width:  100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    overflow:hidden;
    color: white;
   
  }
  body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow:hidden;
  }
 

  .hover-class{
    padding-top:0px;
    margin-top: 0px;
  } 

  .rightb > ul {
    width: 30px;
  }
 
  li > a{
    color: white !important;
  }

  .uk-icon{
    color: white;
  }
  
  .sidee{
    color: white;
    
  }

  .sidee > li {
    font-family: 'Audiowide', cursive;
    font-size: .8vw;
  }
   
  .uk-active > a{
    color:grey !important;
  }
  
  a:hover{
    color: grey !important;
  }
 
   
  
  .fontset > li > a{
    font-family: 'Audiowide', cursive;
    font-size: .9vw;
  }
  
  .fontset1 > li > a{
    font-family: 'Audiowide', cursive;
    font-size: .8vw;
  }
  
  .audi > li > a {
    font-family: 'Audiowide', cursive;
  }


  #home{
     
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden ;
  }

 .white{
   color: white;
 }
  #loader{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
  }

   .main-content{
  
 
    width: 90% ;
    height: 80%;  
    float:left; 
    display: block;
   }
  
   .scroll-content{
       max-height: 100%;
        min-height: 100%;
      overflow-y: scroll;
     }
  
    .inner-content{
      padding: 16px;
    }
  
   
  canvas {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    
  }
   
  h1{
    color: white;
    padding: 0px;
    text-align: center;
  }
  .uk-grid {
    margin-left: 0px; 
  }
   .less-padding{
     
     padding: 0px;
   }
   .heading-text{
    font-size: 4vh;
    text-align: center;
    margin-top: 0%;
  }
  .sub-heading-text{
    
    text-align: center;
    padding-left: 0px;
  }

   .box-text{
    
      padding: 16px;
  }
  
  .border-text{
      border: 1px dashed white;
  }

  .link-text > a{
    color: white ;
  }

  .button-font{
    font-size:2.5vh;
  }
  
 .text-padding{

  padding-left: 72px;
  font-size: 2.3vh;
  padding-right: 72px;
}

.text-padding * {
  font-family: 'Oxygen', sans-serif;
}

.heading{
  font-family: 'Audiowide', cursive ;
  font-size: 2.6vh;
  margin-top:2% !important;
   
   
  }
  p{
    font-size: 2.3vh;
  } 
  p > ul,ol > li{
    font-size: 2.3vh;
  }
  ul,ol > li{
    font-size: 2.3vh;
  }
  .bolder{
    font-family: 'Oxygen', sans-serif;
      font-size: 2.5vh;
      margin-top:.2% !important;
    
  }
  .text{
    font-family: 'Oxygen', sans-serif;
      font-size: 2.0vh;
      margin-top:1% !important;
     
      
  }

  .labell-text{
    font-family: 'Audiowide', cursive ;
    font-size: 1rem;
  }

  .inputt-text{
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
  }

  #register-center{
    color: black;
  }

  .uk-modal-body{
    color: black;
  }
  
  .black-fill{
    color: black;
  }
  .red-fill{
    color: red;
  }
  .medium{
    font-size: 16px;
    padding: 5%;
  }
  .btn-register{
    margin-right: 10px;
    background: white;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,0.2);
    padding: 12px 25px;
    color: black;
    display: inline-block;
    margin-bottom: 20px;
  }

  .uk-dropdown{
    background: transparent;
  }


  @media only screen and (max-width: 1024px) {

    .offtext{
      font-size: 1.2rem ;
      padding-top: 40px ;
      padding-bottom: 40px ;
     }
     .offtext > li {
       padding-top: 20px ;
       padding-bottom: 20px ;
     }
     .fontset1 > li > a{
      font-family: 'Audiowide', cursive ;
      font-size: 0.8rem ;
      height: 40px ;
    }
    .main-content{  
      top: 50% ;
      width: 90%;
      height: 75%;
      }
 
 
      .text-padding{
      padding-left: 4% ;
      padding-right: 4% ;
       font-size: 20px ;
      }
      .button-font{
        font-size:1.3rem;
      }
   

     
    .icon-pack{
      display: inline-flex ;
    }
  }
  
  @media only screen and (max-width: 767px) {

    .offtext{
      font-size: 1.2rem ;
      padding-top: 20px ;
      padding-bottom: 20px ;
     }
     .offtext > li {
       padding-top: 10px ;
       padding-bottom: 10px ;
     }
   
     .fontset1 > li > a{
       font-family: 'Audiowide', cursive ;
       font-size: 0.8rem ;
       height: 30px ;
     }
     .main-content{  
      top: 52% ;
      width: 100%;
      height: 75%;
      }
      .button-font{
        font-size:1.2rem;
      }
 
      .text-padding{
        padding-left: 3% ;
        padding-right: 3% ;
       font-size: 18px ;
      }
     
      .heading{
        
           font-size: 22px;
          
            
            
           }
           
           .bolder{
               font-size: 20px;
            
            
           }
           .text{
               font-size: 18px;
             
               
           }
   

    .icon-pack{
      display: inline-flex ;
    }
  }

   
  
  @media only screen and (max-width: 480px) {
    
  
    .offtext{
     font-size: 1.2rem ;
     padding-top: 20px ;
     padding-bottom: 20px ;
    }
    .offtext > li {
      padding-top: 10px ;
      padding-bottom: 10px ;
    }
  
    .fontset1 > li > a{
      font-family: 'Audiowide', cursive ;
      font-size: 0.5rem ;
      height: 20px ;
    }
  
    .button-font{
      font-size:1rem;
    }
    .main-content{  
       top: 52% ;
       width: 100%;
       height: 75%;
       
       }
  
  
       .text-padding{
        padding-left: 8px ;
        padding-right: 8px ;
        font-size: 16px ;
       }
       .heading{
        
           font-size: 20px;
          
            
            
           }
           
           .bolder{
               font-size: 18px;
            
            
           }
           .text{
               font-size: 16px;
             
               
           }
     
     
  .icon-pack{
    display: inline-flex ;
  }

  .hexagon {
    
        margin-top: 30% ;
        margin-bottom: 30% ;
        
      }
  }

  .my-rotate  {
    height: 100%;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    padding-bottom: 5%; 
    
}

.my-rotate > div  {
    display: flex;
    justify-content: center;
}
  
  @media only screen and (min-device-width: 480px) 
                     and (max-device-width: 680px) 
                     and (orientation: landscape) {
   
                      .offtext{
                        font-size: 1.2rem ;
                        padding-top: 20px ;
                        padding-bottom: 20px ;
                       }
                       .offtext > li {
                         padding-top: 10px ;
                         padding-bottom: 10px ;
                       }
                     
                       .fontset1 > li > a{
                         font-family: 'Audiowide', cursive ;
                         font-size: 0.6rem ;
                         height: 20px ;
                       }
                     
                       .main-content{  
                          top: 55% ;
                          width: 100%;
                          height: 65%;
                          }
                     
                     
                          .text-padding{
                           padding-left: 8px ;
                           padding-right: 8px ;
                           font-size: 16px ;
                          }
                          p{

                            font-size: 2.3vw;
                           }
                         
                          p > ul,ol > li{
                            font-size: 2.3vw;
                          }
                          ul,ol > li{
                            font-size: 2.3vw;
                          }
                          .bolder{
                           
                              font-size: 2.5vw;
                            
                            
                          }
                          .text{
                          
                              font-size: 2.2vw;
                              
                          }
                          .heading{
                            font-size: 2.5vw;
                              
                                
                                
                               }
                               
                               .bolder{
                                   font-size: 18px;
                                
                                
                               }
                               .text{
                                   font-size: 16px;
                                 
                                   
                               }
                        
                         .heading-text{
                           font-size: 4vw;;
                           
                         }
                     .icon-pack{
                       display: inline-flex ;
                     }                
  

                     .hexagon {
                  
                      margin-top: 20% ;
                      margin-bottom: 20% ;
                      
                    }

  }
  
  
   /**
  
  scroll bar custom
   */
   
    
    
   
  #style-7::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
      
      border-radius: 10px;
  }
  
  #style-7::-webkit-scrollbar
  {
      width: 10px;
     
  }
  
  #style-7::-webkit-scrollbar-thumb
  {
      border-radius: 20px;
      background-image: -webkit-gradient(linear,
                                         left bottom,
                                         left top,
                                         color-stop(0.44, rgb(81, 123, 206)),
                                         color-stop(0.72, rgb(37, 86, 146)),
                                         color-stop(0.86, rgb(5, 23, 77)));
  }
   
 
  /**
  loader pages

  */

  
.svg-load {
  width: 0;
  height: 0;
}


.container{
  top: 50%;
  left: 50%;
}

 

.goo5,
.goo6 {
  -webkit-filter: url(#goo-filter);
  filter: url(#goo-filter);
}

.container div {
  background: #fffff0;
 
  border-radius: 50%;
}

.goo5 {
   
  position: absolute;
}

.goo5 > div {
  position: absolute;
  transform-origin: -50% -50%;
  animation: circle 2.5s infinite cubic-bezier(.57, 0, .52, 1);
}

.goo5 > div {
  width: 30px;
  height: 30px;
}

.goo5 > div:nth-child(1) {
  animation: circle 3s infinite linear;
  background: limegreen;
}

.goo5 > div:nth-child(2) {
  animation: circle 3s infinite linear;
  animation-delay: -.5s;
  background: yellow;
}

.goo5 > div:nth-child(3) {
  animation: circle 3s infinite linear;
  animation-delay: -1s;
  background: goldenrod;
}

.goo5 > div:nth-child(4) {
  animation: circle 3s infinite linear;
  animation-delay: -1.5s;
  background: salmon;
}

.goo5 > div:nth-child(5) {
  animation: circle 3s infinite linear;
  animation-delay: -2s;
  background: violet;
}

.goo5 > div:nth-child(6) {
  animation: circle 3s infinite linear;
  animation-delay: -2.5s;
  background: skyblue;
}

.goo5 > div:nth-child(7) {
  animation: circle 1.25s infinite linear alternate;
  background: #fff;
}
 
@keyframes scale {
  100% {
      transform: scale(1.7);
  }
}

@keyframes circle {
  100% {
      transform: rotate(360deg);
  }
}



/**

Hexagon Shape

*/


.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-image: url(http://www.extremetech.com/wp-content/uploads/2013/07/Andromeda-Galaxy-640x353.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 25%;
  margin-bottom: 25%;
  float: left;
  
}
.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 12.5%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
}

.title2 {
  font-size: 1.5em;
  text-align: center;
  margin-top: 35.5%;
  color: white;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
}

.statement {
  font-size: 2em;
  text-align: center;
  margin-top: 20%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 51px;
  background-color: rgba(0, 0, 0, 0.445);
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
  font-weight: bold;
}

.statement2 {
  font-size: 2em;
  text-align: center;
  margin-top: 50%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 51px;
  background-color: black;
  opacity: 0.7;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
  font-weight: bold;
}
 
  

.hexagon:hover .hexagon-hidden {
  background: transparent;
}
.hexagon-hidden {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #DDDDDD22;
  
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
  cursor: pointer;
}

.hexagon-hidden2 {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #DDDDDD;
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
}

.hexagon-hidden3 {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color:  transparent;
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
}

.hover {
  display: block;
}
#hiddenArea {
  box-shadow: none;
}
.hexagon-hidden:hover {
  background-image: none;
 
}
.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}
/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  transform:rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform-origin: 0 0;
  background: inherit;
}
.hexTop {
  top: -106.0660px;
}
.hexTop:after {
  background-position: center top;
}
.hexBottom {
  bottom: -106.0660px;
}
.hexBottom:after {
  background-position: center bottom;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}



@keyframes AnimatedGradient { 
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* 
CA Buttons
*/
.tiny{
  font-size: 12px;
  line-height: 20px;
}
.normal{
  font-size: .7vw;
  
}
.btn {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 1%;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  stroke: #ffffff;
  stroke-width: 4;
  stroke-dasharray: 422, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 900ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover svg rect {
  stroke-width: 8;
  stroke-dasharray: 90, 255;
  stroke-dashoffset: 183;
}

.margin-extra{
  margin-top: 5%;
}