

* {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
  *, :after, :before {
    box-sizing: inherit;
  }
  html{
    width:  100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    overflow:hidden;
    
   
  }
  body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow:hidden
  }
  a{
    color: white !important;
  }
  
  li{
    color: white !important;
  }
   
  .uk-active > a{
    color:grey !important;
  }
  
  a:hover{
    color: grey !important;
  }
   
   
  
  .fontset > li > a{
    font-family: 'Righteous', cursive !important;
    font-size: 1.2rem !important;
  }
  
  .fontset1 > li > a{
    font-family: 'Righteous', cursive !important;
    font-size: 1rem !important;
  }
  
  #home{
     
    width: 100%;
    height: 100%;
    position: absolute;
    visibility: hidden ;
  }

 
  #loader{
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
  }

   .main-content{
  
    background: whitesmoke;
    opacity: 0.7;
    width: 90%;
    height: 80%; 
     
    float:left;
    overflow-y: scroll;
   
    
   }
  
   .scroll-content{
       max-height: 100%;
        min-height: 100%;
      overflow-y: scroll;
     }
  
    .inner-content{
      padding: 16px;
    }
  
   
  canvas {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
   
  }
   
  h1{
    padding: 0px !important;
    text-align: center;
  }
  .uk-grid {
    margin-left: 0px !important; 
  }
   .less-padding{
     
     padding: 0px !important;
   }
   .heading-text{
    
    text-align: center;
    margin-top: 0% !important;
  }

   .box-text{
    
      padding: 16px !important;
  }
  
  .border-text{
      border: 1px dashed black;
  }

  .link-text > a{
    color: #333 !important;
  }
  
  @media only screen and (max-width: 960px) {

    .offtext{
      font-size: 1.2rem !important;
      padding-top: 40px !important;
      padding-bottom: 40px !important;
     }
     .offtext > li {
       padding-top: 20px !important;
       padding-bottom: 20px !important;
     }
     .fontset1 > li > a{
      font-family: 'Righteous', cursive !important;
      font-size: 1rem !important;
      height: 40px !important;
    }
    .main-content{  
      top: 50% !important;
      width: 100%;
      height: 75%;
      }
 
 
      .text-padding{
      padding-left: 4% !important;
      padding-right: 4% !important;
       font-size: 20px !important;
      }
     
    
     .heading-text{
       font-size: 32px;
       text-align: center;
       margin-top: 0% !important;
     }

     
    .icon-pack{
      display: inline-flex !important;
    }
  }
  
  @media only screen and (max-width: 767px) {

    .offtext{
      font-size: 1.2rem !important;
      padding-top: 20px !important;
      padding-bottom: 20px !important;
     }
     .offtext > li {
       padding-top: 10px !important;
       padding-bottom: 10px !important;
     }
   
     .fontset1 > li > a{
       font-family: 'Righteous', cursive !important;
       font-size: 0.8rem !important;
       height: 30px !important;
     }
     .main-content{  
      top: 52% !important;
      width: 100%;
      height: 75%;
      }
 
 
      .text-padding{
        padding-left: 3% !important;
        padding-right: 3% !important;
       font-size: 18px !important;
      }
     
    
     .heading-text{
       font-size: 24px;
       text-align: center;
       margin-top: 0% !important;
     }

    .icon-pack{
      display: inline-flex !important;
    }
  }

   
  
  @media only screen and (max-width: 480px) {
    
  
    .offtext{
     font-size: 1.2rem !important;
     padding-top: 20px !important;
     padding-bottom: 20px !important;
    }
    .offtext > li {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  
    .fontset1 > li > a{
      font-family: 'Righteous', cursive !important;
      font-size: 0.6rem !important;
      height: 20px !important;
    }
  
    .main-content{  
       top: 52% !important;
       width: 100%;
       height: 75%;
      
       }
  
  
       .text-padding{
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 16px !important;
       }
      
     
      .heading-text{
        font-size: 24px;
        text-align: center;
        margin-top: 0% !important;
      }
  .icon-pack{
    display: inline-flex !important;
  }

  .hexagon {
    
        margin-top: 30% !important;
        margin-bottom: 30% !important;
        
      }
  }
  
  @media only screen and (min-device-width: 480px) 
                     and (max-device-width: 680px) 
                     and (orientation: landscape) {
   
                      .offtext{
                        font-size: 1.2rem !important;
                        padding-top: 20px !important;
                        padding-bottom: 20px !important;
                       }
                       .offtext > li {
                         padding-top: 10px !important;
                         padding-bottom: 10px !important;
                       }
                     
                       .fontset1 > li > a{
                         font-family: 'Righteous', cursive !important;
                         font-size: 0.6rem !important;
                         height: 20px !important;
                       }
                     
                       .main-content{  
                          top: 55% !important;
                          width: 100%;
                          height: 65%;
                          }
                     
                     
                          .text-padding{
                           padding-left: 8px !important;
                           padding-right: 8px !important;
                           font-size: 16px !important;
                          }
                         
                        
                         .heading-text{
                           font-size: 24px;
                           text-align: center;
                           margin-top: 0% !important;
                         }
                     .icon-pack{
                       display: inline-flex !important;
                     }                
  

                     .hexagon {
                  
                      margin-top: 20% !important;
                      margin-bottom: 20% !important;
                      
                    }

  }
  
  
   /**
  
  scroll bar custom
   */
   
    
    
   
  #style-7::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
      border-radius: 10px;
  }
  
  #style-7::-webkit-scrollbar
  {
      width: 10px;
      background-color: #F5F5F5;
  }
  
  #style-7::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,
                                         left bottom,
                                         left top,
                                         color-stop(0.44, rgb(122,153,217)),
                                         color-stop(0.72, rgb(73,125,189)),
                                         color-stop(0.86, rgb(28,58,148)));
  }
   
 
  /**
  loader pages

  */

  
.svg-load {
  width: 0;
  height: 0;
}


.container{
  top: 50%;
  left: 50%;
}

 

.goo5,
.goo6 {
  -webkit-filter: url(#goo-filter);
  filter: url(#goo-filter);
}

.container div {
  background: #fffff0;
 
  border-radius: 50%;
}

.goo5 {
  width: 700px;
  height: 150px;
  position: relative;
}

.goo5 > div {
  position: absolute;
  transform-origin: -50% -50%;
  animation: circle 2.5s infinite cubic-bezier(.57, 0, .52, 1);
}

.goo5 > div {
  width: 30px;
  height: 30px;
}

.goo5 > div:nth-child(1) {
  animation: circle 3s infinite linear;
  background: limegreen;
}

.goo5 > div:nth-child(2) {
  animation: circle 3s infinite linear;
  animation-delay: -.5s;
  background: yellow;
}

.goo5 > div:nth-child(3) {
  animation: circle 3s infinite linear;
  animation-delay: -1s;
  background: goldenrod;
}

.goo5 > div:nth-child(4) {
  animation: circle 3s infinite linear;
  animation-delay: -1.5s;
  background: salmon;
}

.goo5 > div:nth-child(5) {
  animation: circle 3s infinite linear;
  animation-delay: -2s;
  background: violet;
}

.goo5 > div:nth-child(6) {
  animation: circle 3s infinite linear;
  animation-delay: -2.5s;
  background: skyblue;
}

.goo5 > div:nth-child(7) {
  animation: circle 1.25s infinite linear alternate;
  background: #fff;
}
 
@keyframes scale {
  100% {
      transform: scale(1.7);
  }
}

@keyframes circle {
  100% {
      transform: rotate(360deg);
  }
}



/**

Hexagon Shape

*/


.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-image: url(http://www.extremetech.com/wp-content/uploads/2013/07/Andromeda-Galaxy-640x353.jpg);
  background-size: auto 346.4102px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  margin-top: 25%;
  margin-bottom: 25%;
  float: left;
}
.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 12.5%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
}
.statement {
  font-size: 2em;
  text-align: center;
  margin-top: 20%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 51px;
  background-color: black;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
  font-weight: bold;
}

.statement1 {
  font-size: 2em;
  text-align: center;
  margin-top: 27.5%;
  margin-left: 0%;
  position: absolute;
  width: 100%;
  height: 51px;
  background-color: black;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  z-index: 1;
  line-height: 1.7;
  font-weight: bold;
}

  

.hexagon:hover .hexagon-hidden {
  display: none;
}
.hexagon-hidden {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #DDDDDD;
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
}

.hexagon-hidden2 {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-color: #DDDDDD;
  animation: fadein 1s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  float: left;
  z-index: 99;
  transform: scale(.85);
  font-family: 'Raleway', Arial, sans-serif;
  display: block;
}

.hover {
  display: block;
}
#hiddenArea {
  box-shadow: none;
}
.hexagon-hidden:hover {
  background-image: none;
 
}
.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}
/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform-origin: 0 0;
  background: inherit;
}
.hexTop {
  top: -106.0660px;
}
.hexTop:after {
  background-position: center top;
}
.hexBottom {
  bottom: -106.0660px;
}
.hexBottom:after {
  background-position: center bottom;
}
.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}



@keyframes AnimatedGradient { 
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}