.boxing-left{
   
}
.boxing-right{
  
}
.boxing-center{
    
 
    
}
.astro-image{
    background: url(/media/astronomy.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 

.coding-image{
    background: url(/media/coding.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.competition-image{
    background: url(/media/competition.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.robotics-image{
    background: url(/media/robotics.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.quizzing-image{
    background: url(/media/quizzing.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.literature-image{
    background: url(/media/literature.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.management-image{
    background: url(/media/management.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.my-rotate  {
    height: 100%;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    
}

.my-rotate > div  {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#astronomy-list{
    display: none;
}
#coding-list{
    display: none;
}
#robotics-list{
    display: none;
}
#quizzing-list{
    display: none;
}
#literature-list{
    display: none;
}
#management-list{
    display: none;
}
.back-icon{
    padding-left: 0%; 
}
@media only screen and (max-width: 1023px) {
    .my-rotate{
        margin-left: 10%; 
        margin-right: 10%; 
         
     }
 }
 
 @media only screen and (max-width: 767px) {
    .my-rotate{
        margin-left: 10%; 
        margin-right: 10%; 
         
     }
 }
 
 @media only screen and (max-width: 480px) {
   
    .my-rotate{
        margin-left: 0px  ; 
        margin-right: 0px ; 
        
     }

     .boxing{
         padding: 0 0 0 0  ;
     }
   
      
      
 }
 
 @media only screen and (min-device-width: 480px) 
                    and (max-device-width: 640px) 
                    and (orientation: landscape) {
  
                        .my-rotate{
                            margin-left: 0px ; 
                            margin-right: 0px ; 
                             
                         }

                         .boxing{
                            padding: 0 12% 0 30%  ;
                        }
 } 
 
  
  
 
 