.astro-image{
    background: url(/media/astronomy.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 

.coding-image{
    background: url(/media/coding.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.competition-image{
    background: url(/media/competition.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.robotics-image{
    background: url(/media/robotics.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.quizzing-image{
    background: url(/media/quizzing.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.literature-image{
    background: url(/media/literature.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.management-image{
    background: url(/media/management.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.into-image{
    background: url(/media/intouni.jpeg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.astro-hunt-image{
    background: url(/media/astrohunt.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 
.astro-quiz-image{
    background: url(/media/astroquiz.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 
.coming-soon-image{
    background: url(/media/coming.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.iupc-image{
    background: url(/media/codeswap.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.enigma-image{
    background: url(/media/enigma.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.startup-fair-image{
    background: url(/media/intern.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.business-quiz-image{
    background: url(/media/bquiz.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.general-quiz-image{
    background: url(/media/quiz.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.robosoccer-image{
    background: url(/media/robosoccer.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.drone-image{
    background: url(/media/drone2.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.lfr-image{
    background: url(/media/LFR.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.maze-solver-image{
    background: url(/media/mazesolver.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.rc-plane-image{
    background: url(/media/rcplane5.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.robowar-image{
    background: url(/media/robowars.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.roborace-image{
    background: url(/media/Roborace.JPG);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.transporter-image{
    background: url(/media/Transporter.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}

.rostrum-image{
    background: url(/media/rs.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
}
.scribbled-image{
    background: url(/media/ss.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 
.unerase-image{
    background: url(/media/unerase.jpg);
    background-size: auto 346.4102px;
    background-position: center;
    background-repeat: no-repeat;
} 
 

.back-icon{
    padding-left: 0%; 
    cursor: pointer;
}
.back-back-icon{
    padding-left: 0%; 
    cursor: pointer;
}

.backy{
    padding-left: 0%; 
}

.fill-space{
    height: 100%;
}
.scroll-content2{
    max-height: 100%;
     min-height: 100%;
   overflow-y: scroll;
  }

 .inner-content2{
   padding: 16px;
 }
 
 #tabs > li > a{
     border:unset;
     font-size: 1.5rem;
   
 }
#tabs{
    background: rgba(109, 121, 231, 0.603);
    width: 90%;
    padding: 0px;
}
#tab{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.2rem;
    width: 90%;
    padding-left:0%;
    margin-left: 10%;
    margin-right: 10%; 
}

#tab > p,ul,li {
    font-family: 'Oxygen', sans-serif;
}

#tab > p > b {
   font-size: 2.5vh;
   font-weight: unset;
}

.dropp{
    padding:8px;
    background: rgba(122, 101, 243, 0.836);
}
.above-drop {
    margin-top: 0px;
    padding:0px;
     
}
.uk-tab::before{
    left:0;
}
 
 .heading-li{
     font-size: 3.5vh;
     padding-left: 3%;
 }
 .text-list{
    padding-left: 3%;
     font-size: 2.5vh;
 }

 .eName{
     font-size: 1.2rem;
 }

 .ex-pad{
     padding-left: 15px;
 }

 

 @media only screen and (max-width: 1366px) {
    #tabs > li > a{
         
        font-size: 1.2rem;
      
    }
}

@media only screen and (max-width: 960px) {
     
     .boxing{
        padding: 5% 0% 5% 0%  ;
     }
 }
 
 @media only screen and (max-width: 767px) {
     
     .boxing{
        padding: 10% 0 10% 0  ;
     }
 }
 
 @media only screen and (max-width: 480px) {
    

     .boxing{
        padding: 15% 0 15% 0  ;
     }

     #tabs > li > a{
        border:unset;
        font-size: .6rem;
      
    }
    .heading-li{
        
        padding-left: 10%;
    }
      
      
 }
 
 @media only screen and (min-device-width: 480px) 
                    and (max-device-width: 680px) 
                    and (orientation: landscape) {
                        #tabs > li > a{
                            border:unset;
                            font-size: .8rem;
                          
                        }
                        .text-list{
                            padding-left: 3%;
                             font-size: 3vw;
                         }

                         #tab > p > b {
                            font-size: 2.5vw;
                            font-weight: unset;
                         }

                         .boxing{
                            padding: 10% 0 10% 0  ;
                         }

                         .heading-li{
        
                           font-size: 3.5vw;
                        }
 } 
 
  
  
 
 