
  
  .plinth{
    font: normal 50px rez;
     
  
}
.point{
  color: white;
}

.presents{
    font:normal 20px caviar;
 
}

.date{
    font:bold 22px hn;
  
}
  
.button-font{
  font:bold 22px caviar;
}

.textp{
  font-family: caviar;
}
.small{
  font-size: 20px;
}

.center-padding{
  text-align: center;
  vertical-align: middle;
  margin: auto;
   
}

.small-padd{
  padding-left:0px;
}

.table-margin{
  margin-left: 15%;
  margin-right:15%;
}
.head-font{
  font-family: 'Audiowide', cursive;
  font-size: 1.3vw !important;
  color: white !important;
} 
.body-font{
font-family: 'Oxygen', sans-serif;
font-size: 1.2vw;
}
 

.sub-heading{
  font-size: 1.8rem;
}

#prof{
  margin-bottom: 5px;
  }
  
  #userp{
    margin-top: 10px;
  }

.no-margin{
  margin-left: unset !important;
}
@media only screen and (max-width: 1024px) {
 

}

@media only screen and (max-width: 767px) {
  
}

@media only screen and (max-width: 480px) {
  
 
   
 
  .sub-heading{
    font-size: 1.5rem;
  }

 
}


@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
                   
                    .sub-heading{
                      font-size: 1.5rem;
                    }
}
@media only screen and (orientation : portrait ) {
                   
  .head-font{
    font-size: 2.4vh !important;
  } 
  .body-font{
  font-size: 1.8vh;
  }

  .table-margin{
    margin-left: 2%;
    margin-right:2%;
  }
}

 
 


 
  
  
 
 