.ques{
color: black;
font-size: 1.5em;
margin-top:2% !important;
 
 
}

.ans{
    font-size: 1.1em;
    margin-top:1% !important;
 
}
.head{
    color: black;
    font-size: 1.2;
    margin-top:.5% !important;
 
}

.faqs-padding{
    padding-left: 4% ;
    padding-right: 4% ;
    justify-content: center;
}

@media only screen and (max-width: 1023px) {
  
 }
 
 @media only screen and (max-width: 767px) {
  
 }
 
 @media only screen and (max-width: 480px) {
   
   
 }
 
 @media only screen and (min-device-width: 480px) 
                    and (max-device-width: 640px) 
                    and (orientation: landscape) {
  
                  
 
 }
 
  
  
 
 