.table-margin{
  margin-left: 15%;
  margin-right:15%;
} 
.tr-font{
  font-family: 'Oxygen', sans-serif;
font-size: 1.2rem;
}
.th-font{

  font-family: 'Righteous', cursive ;
}

.sub-heading{
  font-size: 1.8rem;
}

@media only screen and (max-width: 1023px) {
  .table-margin{
    margin-left: 15%;
    margin-right:15%;
  } 
}

@media only screen and (max-width: 767px) {
  .table-margin{
    margin-left: 10%;
    margin-right:10%;
  } 
}

@media only screen and (max-width: 480px) {
  
 
  .table-margin{
    margin-left: 5%;
    margin-right:5%;
  } 
  
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {
                    .table-margin{
                      margin-left: 10%;
                      margin-right:10%;
                    } 
}

 
 

