
 
 




#wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
} 
.loadpath {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0;
  animation: dash 5s linear  infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2000;
  }
  90% {
    stroke-dashoffset: 0;
  }
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash2 5s linear  infinite;
}

@keyframes dash2 {
  60% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

  
 
 #centerText {
  position: absolute;
 display: inline;
 vertical-align: middle;
  z-index: 1000;
  width: 30%;
  
   
 
  text-align: center;
}
.sometext{
  margin-top: 10%;
font-size: 5em;
color: white ;
}


#text {
  margin-top: 10%;
}

#date{
align-content: right;
}

 

 
 
 


@media only screen and (max-width: 1023px) {
  #countdown{
    margin-top: 10%;
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  #countdown{
    margin-top: 10%;
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  
  #centerText {
    position: absolute;
    display: inline;   
     width: 80%;
     text-align: center;
  }
 
   

  .sometext{
    margin-top: 10%;
  font-size: 1.2em;
  color: white ;
  }
  .styled{
     
   
    margin-top: 20%;  
  
    }
  
 
}

@media only screen 
                   and (max-device-width: 680px) 
                   and (orientation: landscape) {
 
                    .sometext{
                      margin-top: 10%;
                    font-size: 1em;
                    color: white ;
                    }
                    .styled{
                      
                    
                     margin-top: 20%;  
                   
                     }

}

 
/**

countdown

*/

.styled{
  position:absolute;
  left:50%;
  display:inline-block;
  transform: translate(-50%,-60%);
  width: 100%;  
  color:#ffffff;
    z-index: 1;
 margin-top: 20%;
  }
 
  .styled div {
    display: inline-block;
    margin-left: 0.6944444444444444vw;
    font-size: 4vmin;
    font-weight: 100;
    line-height: 1;
    text-align: right;
  }
  /* IE7 inline-block hack */
  *+html .styled div{
    display: inline;
    zoom: 1;
  }
  .styled div:first-child {
  /*margin-left:70%;*/  /*left position of clock*/
  }
  .styled div span {
    display: block;
    border-top: 0.1vw solid #cecece;
    padding-top:  0.30833333333333331vw;
    font-size: 2vmin;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }

   