<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>

        <link rel="stylesheet" href="css/404.css">

</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">



                            <div class="my-rotate">
                                    
                                    <h1 class="error-heading">This is not the page you are looking for.<br>Please navigate using the links above.</h1>
                                    <div class="robo-man-container">
                                      <ul class="cog-1 cog">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                      </ul>
                                      <ul class="cog-2 cog">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                      </ul>
                                      <div class="left-eye"></div>
                                      <div class="right-eye"></div>
                                      <div class="mouth"></div>
                                    </div>
                                    <p class="error-content">The requested page could not be found but a haiku has been discovered.</p>
                                    <p class="haiku">
                                    The gears keep spinning<br>
                                    But this page is still missing<br>
                                    Sorry about that
                                    </p>      


                            </div>



                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>


                        <% include partials/footer %>





        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js "></script>
        <script src="js/uikit-icons.min.js "></script>
        <script src="js/canvasloader.js "></script>
        <script src="js/slowStar.js "></script>
        <script src="js/printe.js"></script>
        <script>

            var obj = { Title: 'Status', Url: 'https://plinth.in/404' };
            history.pushState(obj, obj.Title, obj.Url);


        </script>

</body>

</html>