<!DOCTYPE html>
<html>

<head>
        <% include partials/head %>
 
        <link rel="stylesheet" href="css/about.css">

</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% if(isLoggedIn){ %>
                <%- include('partials/header', {page: 'about', status: isLoggedIn, user: user }) -%>
            <% } else { %>
                <%- include('partials/header', {page: 'about', status: isLoggedIn }) -%>
                <% } %>

          

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>About Us</span>
                                </h1>
                            </div>
                            <div uk-grid>
                                <div class="uk-panel">
                                    <div class="text-padding">
                                        <p> Plinth is the annual inter college Techno-Management-Literary Festival of the LNMIIT,
                                            Jaipur.
                                        </p>

                                        <p> A bud when comes out of its cover, strives for the glow which could make it an attractive
                                            flower. So, here in Plinth as we celebrate the fourth year of its successful
                                            organization, we are proud to say that the bud found its glow in the enthusiasm
                                            and the confidence of its participants.

                                        </p>
                                        <p> Plinth brings immense opportunities for all the enthusiasts to showcase their talents
                                            and skills. The coalescence of all the different fields of career takes place
                                            at various corners of a single place. It starts with a typical morning that brings
                                            everyone out of their warm coziness. Ready and suited to make it grand and successful,
                                            after the long days of hard work. Rushing out fearlessly to know and gather all
                                            that is offered. For some it is where the key to this whole new world of technology
                                            and innovation is found. While for others, it is where they meet new friends
                                            whom they can take along in their journey to learn more and conquer this huge
                                            expanse of science.

                                        </p>
                                        <p> The creaks of the robots clashing, the noise of the people debating, and the thunder
                                            of claps for the speaker who would have just kindled hundreds of hearts, mark
                                            the plinth days. With an enormous amount of rage and knowledge facing off under
                                            one roof, it is a spark created by the meet of inspiration and technology. While
                                            the end, with a blithesome entertainment that is sure to rejuvenate all after
                                            the long day of learning and competing.

                                        </p>
                                        <p> Get ready to experience the elegance of science in its style. Once you are here,
                                            you are no more a student or a teacher, but a learner for whom there are lots
                                            kept in store to explore. See what is happening around the world. What is it
                                            that which is made for you? Come and join us to listen to the stories that everyone
                                            has got to share.

                                        </p>
                                        <p> Learn and take away with you a truly enriching experience.
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Official After Movie of Plinth' 17</span>
                                </h1>
                            </div>
                            <div uk-grid>
                                <div class="uk-panel uk-align-center">
                                    <div>
                                        <iframe class="video-res" src="https://www.youtube.com/embed/Y4qaBLvTeoQ" frameborder="0" gesture="media" allowfullscreen></iframe>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        
                        <%- include('partials/footer', {page: 'about'}) -%>


        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>