<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/archive.css">
</head>

<body>
    <% include partials/loader %>
    <div id="home">
        <canvas id="canvas"></canvas>

      
        <%- include('partials/header', {page: 'archive'}) -%>


        <div class="uk-position-center main-content ">

            <div class="scroll-content" id="style-7">
                <div class="inner-content">
                        <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Archive</span>
                                </h1>
                            </div>
        
                            <div uk-grid>
                             <h1 class="uk-align-center  box-text link-text">   <a href="https://plinth.catchcollinx.me" target="_blank"> 
                                        <span> 2017</span></a> 
                                    </h1>
                                    
                            </div>

                   
                </div>

                
            </div>


        </div>






        <% include partials/leftbar %>
        
        
        
                            <% include partials/rightbar %>
        
                            <%- include('partials/footer', {page: 'archive'}) -%>
        
        
        
                            <%- include('partials/offcanvas', {page: 'archive'}) -%>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>

    <script src="js/canvasloader.js"></script>
    <script src="js/slowStar.js"></script>
    
    <script>
    

</script>
</body>

</html>