<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/cryptex.css">


</head>
<style>
    body{
    background: linear-gradient(rgba(73, 73, 73, 0.5),rgba(73, 73, 73, 0.5)), url('../media/wall/(<%- num %>).jpg');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}
</style>    

<body>
    <% include partials/loader %>
        <div id="home">


            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <div class="uk-align-center heading-text small-padd">
                                  <p>
                                        <span class="plinth">Plinth</span> <span class="date">2018</span>
                                        <br>
                                        <span class="presents">presents</span>
                                  </p>  
                                     
                                    <span class="cryptex">Cryptex</span>
                                </div>
                            </div>

                            <div class="uk-align-center uk-text-center" uk-grid>
                                <p class="textp small-padd">
                                        Get ready, all set to dive into the vast ocean of web hunt to unravel the secrets.<br>
                                        This whole internet is yours, but mind you, the elusive clues are bound to leave you stumped.
                                </p>
                                    
                              
                                <p class="textp small-padd">
                                    So, ready to accept the challenge?
                                </p>
                                    <% if(isLoggedIn){ %>
                                        <% if(time){ %>
                                            <% if(newUser){ %>
                                                <a class="uk-button uk-button-default white uk-button-large button-font" onclick="startGame()">
                                                Start the Game
                                                </a>
                                            <% }else{ %>
                                                <a class="uk-button uk-button-default white uk-button-large button-font" href="/cryptex/play">
                                                Continue Playing
                                                </a>
                                            <% } %>
                                            <br>
                                                <a class="uk-button uk-button-default white uk-button-large button-font" href="/cryptex/leaderboard">
                                                Leaderboard
                                                </a>
                                            <%  } else { %>
                                                <p class="textp small-padd">
                                                        Going Live at 12:00 noon, 14 Jan 2018.
                                                    </p> 
                                                <% } %>
                                       
                                    <% } else { %>
                                        <a class="uk-button uk-button-default white uk-button-large" href="#register-center" uk-toggle>Login to play!</a>
                                    <% } %>
                            </div>

                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/cryptex.js"></script>

        <script>

            window.onload = function () {
                var loader = document.getElementById('loader');

                
                setTimeout(function () {
                    loader.parentElement.removeChild(loader);
                    $('#home').css("visibility", 'visible')
                    
                }, 0);
            };

        </script>


</body>

</html>