<!DOCTYPE html>
<html>

<head>
        <% include partials/head %>
                <link rel="stylesheet" href="css/faqs.css">


</head>

<body>
        <% include partials/loader %>
                <div id="home">
                        <canvas id="canvas"></canvas>

                        <%- include('partials/header', {page: 'faqs'}) -%>


                                <div class="uk-position-center main-content ">

                                        <div class="scroll-content" id="style-7">
                                                <div class="inner-content">
                                                        <div uk-grid>
                                                                <h1 class="uk-align-center heading-text">
                                                                        <span>Frequently Asked Questions</span>
                                                                </h1>
                                                        </div>
                                                        <div uk-grid>
                                                                <div class="uk-panel">
                                                                        <div class="text-padding">
                                                                                <div class="heading" uk-toggle="target: #toggle1;">
                                                                                        What are the registration charges?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle1">
                                                                                        The registration charges and other necessary details regarding the payment are available under the tab "Register" of all
                                                                                        specific events at https://plinth.in.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle2;">
                                                                                        How can we reach to the event?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle2">
                                                                                        PLINTH takes place in The LNM Institute of Information Technology (LNMIIT) campus in Jaipur (state of Rajasthan).
                                                                                        <div class="bolder">By Air</div>
                                                                                        The LNM Institute of Information Technology campus is at a distance of approximately 22km from the airport. LNMIIT has its
                                                                                        own transportation facilities to
                                                                                        ply to and fro from LNMIIT campus
                                                                                        to Jaipur city which starts from
                                                                                        Ajmeri Gate, Raja Park, Pink Square
                                                                                        mall, Jaipur city. Ajmeri Gate is
                                                                                        approximately 3.3km from Jaipur Railway
                                                                                        station. Prepaid cabs are available
                                                                                        from the airport to the campus.
                                                                                        <div class="bolder">By Rail</div>
                                                                                        The LNM Institute of Information Technology campus is at a distance of a approximately 18km from the Jaipur railway station.
                                                                                        LNMIIT has its own transportation
                                                                                        facilities to ply to and fro from
                                                                                        LNMIIT campus to Jaipur city which
                                                                                        starts from Ajmeri Gate, Raja Park,
                                                                                        Pink Square mall, Jaipur city. Ajmeri
                                                                                        Gate is approximately 3.3km from
                                                                                        Jaipur Railway station. Prepaid cabs
                                                                                        are available from the Railway station
                                                                                        to the campus.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle3;">
                                                                                        Can I register, but not take accommodation?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle3">
                                                                                        The registration amount remains unchanged in both the cases. It is advisable to avail the accommodation facility since there
                                                                                        is no other mode of accommodation
                                                                                        available in the campus during the
                                                                                        fest.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle4;">
                                                                                        I want to attend fun/informal events only. Will I have to pay the whole registration fee?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle4">
                                                                                        No, you have to pay only for the events. Only if any fun/informal events have charges then you have to pay for that specific
                                                                                        event, otherwise it's free!
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle5;">
                                                                                        What is the payment procedure for registration of any events?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle5">
                                                                                        The payment procedure will be online and offline as well. Those who have been shortlisted, will be sent an email. You will
                                                                                        have to report at the registration
                                                                                        desk with the payment receipt print
                                                                                        out and the mandatory documents.
                                                                                        Failing to bring any of the documents
                                                                                        may lead to cancellation of your
                                                                                        participation. The documents are:
                                                                                        College ID card. Printout of the
                                                                                        receipt of payment. For Offline payment:
                                                                                        Those participants who haven't paid
                                                                                        the amount online also have a chance
                                                                                        to pay offline for on spot registrations
                                                                                        for the events but that completely
                                                                                        depend on availability of seats.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle6;">
                                                                                        Shall I carry my ID card with me?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle6">
                                                                                        It is mandatory for all participants to carry college IDs. This is for your own convenience. Moreover you will be asked to
                                                                                        produce your college id cards at
                                                                                        the time of registrations.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle7;">
                                                                                        Will all the team members be given accommodation at the same place?

                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle7">
                                                                                        We will try but there is no surety for the same.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle8;">
                                                                                        What are the food facilities inside the campus?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle8">
                                                                                        There are food stalls available in the arena as long as it's open. Apart from this, there is the campus mess as well as various
                                                                                        eateries and canteens in the campus
                                                                                        where food is available at subsidized
                                                                                        rates.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle9;">
                                                                                        What about the hospital facility?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle9">
                                                                                        There is an institute Medical Unit located near the SAC. In case you fall ill, you are advised to report to us at accommodation
                                                                                        desk. We shall make appropriate arrangements
                                                                                        for you to be treated at the Medical
                                                                                        unit. We shall also be carrying a
                                                                                        first aid kit with us, at the accommodation
                                                                                        desk.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle10;">
                                                                                        Are there ATMs inside the campus?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle10">
                                                                                        There are State Bank and ICICI Bank ATMs inside the campus.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle11;">
                                                                                        Can I enter The LNMIIT campus anytime?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle11">
                                                                                        You can enter LNMIIT Main gate anytime by showing valid photo ID proof during 6am to 10pm, however you need to have accommodation
                                                                                        inside the campus to stay in the
                                                                                        campus after 10pm.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle12;">
                                                                                        We are a group of people not participating in any of competitions or workshops and just coming to Plinth for enjoyment. Would
                                                                                        we be provided accommodation?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle12">
                                                                                        Accommodation would be confirmed strictly subject to availability of rooms and you can try on the spot registration during
                                                                                        the festival.
                                                                                </div>
                                                                                <div class="heading" uk-toggle="target: #toggle13;">
                                                                                        What all deliverables do we receive after registering?
                                                                                </div>
                                                                                <div class="text uk-animation-slide-top-small" id="toggle13">
                                                                                        After registration you'll get pass for that particular event. You will also get participation certificate if you're not in
                                                                                        winning position.
                                                                                </div>



                                                                        </div>
                                                                </div>
                                                        </div>



                                                </div>

                                        </div>


                                </div>






                                <% include partials/leftbar %>



                                        <% include partials/rightbar %>

                                                <%- include('partials/footer', {page: 'faqs'}) -%>



                                                    
                </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <!-- UIkit JS -->
                <script src="js/uikit.min.js"></script>
                <script src="js/uikit-icons.min.js"></script>

                <script src="js/canvasloader.js"></script>
                <script src="js/slowStar.js"></script>
                <script >
                        UIkit.toggle('#toggle1').toggle();
                        UIkit.toggle('#toggle2').toggle();
                        UIkit.toggle('#toggle3').toggle();
                        UIkit.toggle('#toggle4').toggle();
                        UIkit.toggle('#toggle5').toggle();
                        UIkit.toggle('#toggle6').toggle();
                        UIkit.toggle('#toggle7').toggle();
                        UIkit.toggle('#toggle8').toggle();
                        UIkit.toggle('#toggle9').toggle();
                        UIkit.toggle('#toggle10').toggle();
                        UIkit.toggle('#toggle11').toggle();
                        UIkit.toggle('#toggle12').toggle();
                        UIkit.toggle('#toggle13').toggle();
                </script>

</body>

</html>