<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
    <link rel="stylesheet" href="css/faqs.css">
   

</head>

<body>
    <% include partials/loader %>
    <div id="home">
        <canvas id="canvas"></canvas>

        <%- include('partials/header', {page: 'faqs'}) -%>


        <div class="uk-position-center main-content ">

            <div class="scroll-content" id="style-7">
                <div class="inner-content">
                        <div uk-grid>
                                <h1 class="uk-align-center box-text">
                                    <span>Frequently Asked Questions</span>
                                </h1>
                            </div>
        
                            <div class="uk-text-center" uk-grid>
                                <h1 class="uk-align-center   box-text border-text">
                                    <span>Will Be Answered Soon!</span>
                                </h1>
                            </div>

                </div>

            </div>


        </div>






        <% include partials/leftbar %>
        
        
        
                            <% include partials/rightbar %>
        
                                 <%- include('partials/footer', {page: 'faqs'}) -%>
        
        
        
                                   <%- include('partials/offcanvas', {page: 'faqs'}) -%>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>

    <script src="js/canvasloader.js"></script>
    <script src="js/star.js"></script>
    

</body>

</html>