<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/gallery.css">




</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                <div class="uk-position-center main-content">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Gallery</span>
                                </h1>
                            </div>

                            <div class="my-rotate" uk-lightbox="animation: slide">

                                <br>
                                <br>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0174.jpg" caption="Plinth 2017">
                                            <img src="media\gallery\DSC_0174.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0142.jpg" caption="Here Comes Googler!!">
                                            <img src="media\gallery\DSC_0142.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0187.jpg" caption="Map for Robot">
                                            <img src="media\gallery\DSC_0187.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0189.jpg" caption="Follow the Line">
                                            <img src="media\gallery\DSC_0189.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0214.jpg" caption="Just Something About Space">
                                            <img src="media\gallery\DSC_0214.jpg" alt="">
                                        </a>
                                    </div>


                                </div>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0287.jpg" caption="Words to Get By">
                                            <img src="media\gallery\DSC_0287.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0313.jpg" caption="Fly Up Drone">
                                            <img src="media\gallery\DSC_0313.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0329.jpg" caption="Just Finished">
                                            <img src="media\gallery\DSC_0329.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0333.jpg" caption="Some Heavy Metal Work">
                                            <img src="media\gallery\DSC_0333.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0402.jpg" caption="Wiki To Learn">
                                            <img src="media\gallery\DSC_0402.jpg" alt="">
                                        </a>
                                    </div>


                                </div>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0453.jpg" caption="Faces Of Plinth">
                                            <img src="media\gallery\DSC_0453.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0482.jpg" caption="Tech Talks">
                                            <img src="media\gallery\DSC_0482.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0487.jpg" caption="Focus">
                                            <img src="media\gallery\DSC_0487.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0488.jpg" caption="Hands On Training">
                                            <img src="media\gallery\DSC_0488.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7715.jpg" caption="Pro Night - A Night to Remember">
                                            <img src="media\gallery\DSC_7715.jpg" alt="">
                                        </a>
                                    </div>


                                </div>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0506.jpg" caption="Photography Geeks">
                                            <img src="media\gallery\DSC_0506.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0543.jpg" caption="Code Hard 123">
                                            <img src="media\gallery\DSC_0543.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0544.jpg" caption="Killjee Rocks">
                                            <img src="media\gallery\DSC_0544.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0548.jpg" caption="Athletic Coding">
                                            <img src="media\gallery\DSC_0548.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0635.jpg" caption="Drone Obstruct">
                                            <img src="media\gallery\DSC_0635.jpg" alt="">
                                        </a>
                                    </div>


                                </div>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7753.jpg" caption="Mame Khan - Folks">
                                            <img src="media\gallery\DSC_7753.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_0739.jpg" caption="War Of Machines">
                                            <img src="media\gallery\DSC_0739.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_5143.jpg" caption="Food">
                                            <img src="media\gallery\DSC_5143.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_5164.jpg" caption="Internships">
                                            <img src="media\gallery\DSC_5164.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_5402.jpg" caption="Audi Photography">
                                            <img src="media\gallery\DSC_5402.jpg" alt="">
                                        </a>
                                    </div>


                                </div>
                                <div class="uk-child-width-1-5@m" uk-grid>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_5517.jpg" caption="Balaji Viswanathan">
                                            <img src="media\gallery\DSC_5517.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7760.jpg" caption="Rajasthan Folk Songs">
                                            <img src="media\gallery\DSC_7760.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7589.jpg" caption="Curiosity - A way to smartness!!">
                                            <img src="media\gallery\DSC_7589.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7608.jpg" caption="Glimpse to Future">
                                            <img src="media\gallery\DSC_7608.jpg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a class="uk-inline uk-overflow-hidden" href="media\gallery\DSC_7614.jpg" caption="Quoraian">
                                            <img src="media\gallery\DSC_7614.jpg" alt="">
                                        </a>
                                    </div>


                                </div>






                            </div>

                        </div>

                    </div>


                </div>







                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>




        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>