<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/gallery.css">




</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                                <div class="uk-position-center main-content">

                                    <div class="scroll-content" id="style-7">
                                        <div class="inner-content">
                                            <div uk-grid>
                                                <h1 class="uk-align-center heading-text">
                                                    <span>Gallery</span>
                                                </h1>
                                            </div>

                                            <div class="my-rotate">
                                                <div class="uk-grid-medium" uk-grid>
                                             
                                                    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation: fade">
                                            
                                                        <ul class="uk-slideshow-items">
                                                            <li>
                                                                <img src="https://i.pinimg.com/736x/8a/37/d2/8a37d23c8349779fad20350bee046b2a--unique-senior-pictures-senior-photos-in-a-field.jpg" alt="" uk-cover>
                                                            </li>
                                                            <li>
                                                                <img src="http://webneel.com/daily/sites/default/files/images/project/national-geographic-best-award-photograph%20(35).jpg" alt="" uk-cover>
                                                            </li>
                                                            <li>
                                                                <img src="http://i.dailymail.co.uk/i/pix/2017/03/27/16/3EAE40B200000578-4353636-image-a-76_1490628112278.jpg" alt="" uk-cover>
                                                            </li>
                                                        </ul>
                                            
                                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                            
                                                    </div>
                                            
                                            
                                                </div>
                                            
                                            </div>

                                        </div>

                                    </div>


                                </div>







                                <% include partials/leftbar %>



                                    <% include partials/rightbar %>

                                    <% include partials/footer %>




        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>