<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>

        <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div id="loader">

        <div>
            <canvas id="starCanvas"></canvas>
        </div>
        <svg version="1.1" id="wrapper" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="273px" height="125.2px" viewBox="0 0 273 125.2" enable-background="new 0 0 273 125.2" xml:space="preserve">

            <path class="loadpath" fill="none" stroke="#152E56" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"
                d="
               M2,65.7C49.2,3.8,29.8,2.1,27.4,2c-2.4-0.1-4.4,2.2-6.6,5.3c-10.2,14.8-10.4,40.3-8.7,45s4.6,15.3,11.7,16.5
               c5.5,0.9,10.8-2.9,14.3-7.4c3.5-4.4,6-9.7,10.2-13.4c4.2-3.7,11.1-5.4,15.4-1.7c-5-0.4-10.3-0.4-14.9,1.7s-8.2,7.1-7.3,12.1
               c1.1,5.9,8.5,9.2,14.2,7.3s9.5-7.6,10.8-13.5c0.6-3,0.5-6.5-1.7-8.5c-2.2-2-6.9-0.7-6.7,2.3c0.2,2.1,2.4,3.3,4.4,3.8
               c5.5,1.2,11.2-0.7,16.5-2.7c5.3-1.9,11-3.8,16.5-2.4c5.5,1.4,10,7.7,7.5,12.8c-0.6-7.2-7.3-13.4-14.5-13.3
               c-7.2,0.2-13.7,7.1-13,14.3s8.6,12.9,15.6,10.8c7.5-2.2,11-11.3,10-19.1c-1.8,3.2-1.5,13.5,0.8,16.3c2.3,2.8,6.5,4,9.9,2.8
               c4.4-1.5,6.9-12.1,9.5-16s6.5-7.9,11.1-7.2c5.2,0.8,7.6,6.8,9.1,11.9c0.3-6.2-5.6-12-11.8-11.6c-6.2,0.4-11.3,6.9-10.2,13.1
               c1.1,6.1,8.2,10.5,14.2,8.7c7.4-2.2,10.3-11.1,11.3-18.8c1.9-14.6,0.9-29.5-2.8-43.7c-3,16.8-3.3,34-0.9,50.9
               c0.8,5.7,2.6,12.3,7.8,14.8c5.8,2.8,12.9-1.2,16-6.8c3-5.6,3-12.4,2.8-18.8c-1.5,5.8-3.1,11.9-1.4,17.7c1.6,5.8,7.7,10.8,13.4,8.9
               c5-1.6,7.4-7.5,7.7-12.8s-0.9-10.6,0.1-15.8c-1.8,10.2-0.9,20.9,2.5,30.7c0.5-7.1,1.1-14.3,1.6-21.4c0.2-2.5,0.5-5.4,2.4-7
               c3.6-3.1,9.5,0.6,10.8,5.2c1.3,4.6-0.1,9.5,0,14.2c0.1,4,1.8,8.7,5.7,9.7c3.7,1,7.5-2,9.2-5.4c1.8-3.4,2.2-7.4,3.6-11
               c1.9-4.7,5.6-8.8,10.4-10.4s10.6-0.3,13.8,3.7s2.9,10.4-1.1,13.6c4.4-4.6,4.4-12.7,0.1-17.5s-12.2-5.5-17.5-1.9s-7.3,11.2-4.8,17.1
               c3.1,7.2,12.7,10.8,19.7,7.3c7-3.5,10.1-13.3,6.2-20.1c1.1,20,2.2,40,3.3,60c0.2,3.7,0,8.2-3.3,10c-4.1,2.3-8.9-2.1-10.7-6.5
               c-4.6-11-1.6-24.8,7.3-32.9c4.7-4.3,10.8-6.9,15.8-10.9c5-4,9.2-10.1,7.9-16.4" />
            <path fill="none" class="path2" stroke="#152E56" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                d="
               M177.7,20.2c-2.3-2.5-7-2.1-8.8,0.8c-1.8,2.9,0,7.3,3.3,8.2c2.3,0.6,4.9-0.4,6.2-2.4S179.3,22,177.7,20.2z" />
        </svg>


    </div>
    <div id="home">
        <canvas id="canvas"></canvas>

        <% include partials/header %>
                            <div id="centerText" class="uk-position-center">
                                <div>
                                    <img id="text" src="media/plinthtext.png" width="100%" />
                                    <img id="date" src="media/date.png" width="35%" align="right" />
                                </div>

                                <div>
                                    <div class="countdown styled">
                                        <div>00
                                            <span>days</span>
                                        </div>
                                        <div>00
                                            <span>hrs</span>
                                        </div>
                                        <div>00
                                            <span>min</span>
                                        </div>
                                        <div>00
                                            <span>sec</span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <% include partials/rightbar %>

                            <% include partials/footer %>





    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/hilios/jQuery.countdown/2.1.0/dist/jquery.countdown.min.js"></script>
    <!-- UIkit JS -->
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/star.js"></script>

    <script src="js/timer.js"></script>
    <script src="js/jquery.countdown.js"></script>

    <script type="text/javascript">
        $(function () {
            var endDate = "January 20, 2018 09:00:00";

            $('.countdown.simple').countdown({ date: endDate });

            $('.countdown.styled').countdown({
                date: endDate,
                render: function (data) {
                    $(this.el).html("<div>" + this.leadingZeros(data.days, 2) + " <span>days</span></div><div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div><div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div><div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
                }
            });

            $('.countdown.callback').countdown({
                date: +(new Date) + 10000,
                render: function (data) {
                    $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
                },
                onEnd: function () {
                    $(this.el).addClass('ended');
                }
            }).on("click", function () {
                $(this).removeClass('ended').data('countdown').update(+(new Date) + 10000).start();
            });

            // End time for diff purposes
            var endTimeDiff = new Date().getTime() + 15000;
            // This is server's time
            var timeThere = new Date();
            // This is client's time (delayed)
            var timeHere = new Date(timeThere.getTime() - 5434);
            // Get the difference between client time and server time
            var diff_ms = timeHere.getTime() - timeThere.getTime();
            // Get the rounded difference in seconds
            var diff_s = diff_ms / 1000 | 0;

            var notice = [];
            notice.push('Server time: ' + timeThere.toDateString() + ' ' + timeThere.toTimeString());
            notice.push('Your time: ' + timeHere.toDateString() + ' ' + timeHere.toTimeString());
            notice.push('Time difference: ' + diff_s + ' seconds (' + diff_ms + ' milliseconds to be precise). Your time is a bit behind.');

            $('.offset-notice').html(notice.join('<br />'));

            $('.offset-server .countdown').countdown({
                date: endTimeDiff,
                offset: diff_s * 1000,
                onEnd: function () {
                    $(this.el).addClass('ended');
                }
            });

            $('.offset-client .countdown').countdown({
                date: endTimeDiff,
                onEnd: function () {
                    $(this.el).addClass('ended');
                }
            });

        });

    </script>

</body>

</html>