<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>

        <link rel="stylesheet" href="css/redirect.css">

</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <% if(valid){ %>
                                <div uk-grid>
                                    <h1 class="uk-align-center uk-position-center">
                                        <span> Redirecting, Please Wait...</span>
                                    </h1>
                                </div>
                                <script>
                                    setTimeout(function () {
                                        window.location = localStorage.getItem('tempURL');
                                    }, 2000);
                                </script>

                                <% }else{ %>



                                    <div class="my-rotate">

                                        <div uk-grid>
                                            <h1 class="uk-align-center">
                                                <span>Registration Form</span>
                                            </h1>
                                        </div>
                                        <div uk-grid>
                                            <form class="uk-form-horizontal uk-margin-large" id="register-form">

                                                <div class="uk-margin">
                                                    <label class="uk-form-label" for="user_name">Name</label>
                                                    <div class="uk-form-controls">
                                                        <input class="uk-input" id="user_name" name="name" type="text" value="<%- user.name %>" disabled required>
                                                    </div>
                                                </div>


                                                <div class="uk-margin ">
                                                    <div class="uk-form-label ">Gender</div>
                                                    <div class="uk-form-controls uk-form-controls-text ">
                                                        <label>
                                                            <input class="uk-radio" type="radio" name="gender" value="male" checked> Male</label>
                                                        <br>
                                                        <label>
                                                            <input class="uk-radio" type="radio" name="gender" value="female"> Female</label>
                                                    </div>
                                                </div>

                                                <div class="uk-margin ">
                                                    <label class="uk-form-label " for="contact_number">Contact Number</label>
                                                    <div class="uk-form-controls ">
                                                        <input class="uk-input " id="contact_number" name="phone" type="number" required>
                                                    </div>
                                                </div>

                                                <div class="uk-margin ">
                                                    <label class="uk-form-label " for="email">Email</label>
                                                    <div class="uk-form-controls ">
                                                        <input class="uk-input " id="email" name="email" type="text" value="<%- user.email %>" disabled required>
                                                    </div>
                                                </div>

                                                <div class="uk-margin ">
                                                    <label class="uk-form-label " for="institute">Institute Name</label>
                                                    <div class="uk-form-controls ">
                                                        <input class="uk-input " id="institute" name="institute" type="text" required>
                                                    </div>
                                                </div>

                                                <div class="uk-margin ">
                                                    <label class="uk-form-label " for="user_year">Year</label>
                                                    <div class="uk-form-controls ">
                                                        <select class="uk-select " name="year" id="user_year" required>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option selected="selected ">NA</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="uk-margin ">
                                                    <label class="uk-form-label " for="user_city">City</label>
                                                    <div class="uk-form-controls ">
                                                        <input class="uk-input " id="user_city" name="city" type="text" required>
                                                    </div>
                                                </div>




                                                <div class="uk-margin uk-text-center ">
                                                    <button type="submit" class="uk-button uk-button-default
                                                            button-text " id="register-button">Submit</button>
                                                </div>



                                            </form>

                                        </div>


                                    </div>
                                    <% } %>


                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>


                        <% include partials/footer %>





        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js "></script>
        <script src="js/uikit-icons.min.js "></script>
        <script src="js/canvasloader.js "></script>
        <script src="js/slowStar.js "></script>
        <script src="js/redirect.js "></script>
        <script>

            var obj = { Title: 'Register', Url: 'https://plinth.in/user/redirect' };
            history.pushState(obj, obj.Title, obj.Url);


        </script>

</body>

</html>