<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/sop.css">


</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>School Outreach Program</span>
                                </h1>
                            </div>

                            <div uk-grid>
                                <div class="uk-panel">
                                    <div class="text-padding">
                                        <p> Plinth'18 specially focuses on a programme for school students and have many events
                                            for them to participate in. We invite school students to be a part of this endeavor,
                                            to expose the world of engineering and a place filled with exciting technology.
                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="my-rotate">
                                <div class="uk-grid-medium" uk-grid>

                                    <div class="boxing-left boxing">
                                        <div class="hexagon project-image">

                                            <div class="hexTop"></div>
                                            <div class="hexBottom"></div>
                                            <div class="hexagon-hidden hover">
                                                <div class="hexTop" id="hiddenArea"></div>
                                                <div class="hexBottom" id="hiddenArea"></div>
                                                <div class="statement">Project Display</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="boxing-right boxing">
                                        <div class="hexagon quiz-image">
                                            <div class="hexTop"></div>
                                            <div class="hexBottom"></div>
                                            <div class="hexagon-hidden hover">
                                                <div class="hexTop" id="hiddenArea"></div>
                                                <div class="hexBottom" id="hiddenArea"></div>

                                                <div class="statement">Quiz</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid-medium " uk-grid>
                                    <div class="boxing">
                                        <div class="hexagon debate-image">
                                            <div class="hexTop"></div>
                                            <div class="hexBottom"></div>
                                            <div class="hexagon-hidden hover">
                                                <div class="hexTop" id="hiddenArea"></div>
                                                <div class="hexBottom" id="hiddenArea"></div>

                                                <div class="statement">Formal Debate</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="boxing uk-visible@m">
                                        <div class="hexagon sop-image">
                                            <div class="hexTop"></div>
                                            <div class="hexBottom"></div>
                                            <div class="hexagon-hidden2 hover ">
                                                <div class="hexTop" id="hiddenArea"></div>
                                                <div class="hexBottom" id="hiddenArea"></div>

                                                <div class="statement small-font">School Outreach Program</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="boxing">
                                        <div class="hexagon roborace-image">
                                            <div class="hexTop"></div>
                                            <div class="hexBottom"></div>
                                            <div class="hexagon-hidden hover">
                                                <div class="hexTop" id="hiddenArea"></div>
                                                <div class="hexBottom" id="hiddenArea"></div>

                                                <div class="statement">Roborace</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              



                              
                            </div>
                        </div>

                    </div>

                </div>


        </div>


        </div>



        <% include partials/leftbar %>



            <% include partials/rightbar %>

                <% include partials/footer %>




                    </div>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <!-- UIkit JS -->
                    <script src="js/uikit.min.js"></script>
                    <script src="js/uikit-icons.min.js"></script>

                    <script src="js/canvasloader.js"></script>
                    <script src="js/slowStar.js"></script>


</body>

</html>