<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/sponsors.css">

</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                                <div class="uk-position-center main-content ">

                                    <div class="scroll-content" id="style-7">
                                        <div class="inner-content">
                                            <div uk-grid>
                                                <h1 class="uk-align-center heading-text">
                                                    <span>Our Previous Sponsors</span>
                                                </h1>
                                            </div>

                                            <div class="my-rotate">
                                                <div class="uk-grid-medium" uk-grid>

                                                    <ul id="hexGrid">
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class="image def" src="media/sponsors_2k17/Paytm_logo.png" alt="" />
                                                                <!-- <h1 class="heading">Paytm</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/i3indya.png" alt="" />
                                                                <!-- <h1 class="heading">i3indya Technologies</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/ti.png" alt="" />
                                                                <!--   <h1 class="heading">Texas Instruments</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/sap.gif" alt="" />
                                                                <!--  <h1 class="heading">SAP</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/startup.png" alt="" />
                                                                <!--  <h1 class="heading">Startup Oasis</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/am.jpg" alt="" />
                                                                <!-- <h1 class="heading">Arcelor Mittal</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/adword.png" alt="" />
                                                                <!-- <h1 class="heading">Google AdWords</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/internshala.png" alt="" />
                                                                <!-- <h1 class="heading">Internshala</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/innovaccer.png" alt="" />
                                                                <!-- <h1 class="heading">Innovaccer</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/ebay.jpg" alt="" />
                                                                <!-- <h1 class="heading">Ebay</h1> -->

                                                            </a>
                                                        </li>



                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/2019.jpg" alt="" />
                                                                <!-- <h1 class="heading">Twenty19</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/av.jpg" alt="" />
                                                                <!--  <h1 class="heading">Analytics Vidhya</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/tcf.png" alt="" />
                                                                <!--  <h1 class="heading">The College Fever</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/zw.png" alt="" />
                                                                <!--  <h1 class="heading">Zero Waste</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/tvg.png" alt="" />
                                                                <!-- <h1 class="heading">TVG</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/ve.jpg" alt="" />
                                                                <!-- <h1 class="heading">Phaco Surgery Center</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/srjna.png" alt="" />
                                                                <!-- <h1 class="heading">Srjna</h1>
 -->
                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/jamboree.jpg" alt="" />
                                                                <!--  <h1 class="heading">Jamboree</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/festpav.png" alt="" />
                                                                <!--  <h1 class="heading">FestPav</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/me.png" alt="" />
                                                                <!-- <h1 class="heading">maxEmbedded</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/knowyourfest.png" alt="" />
                                                                <!-- <h1 class="heading">Know A Fest</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/bb.png" alt="" />
                                                                <!--  <h1 class="heading">Brain Buxa</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/roboraze.png" alt="" />
                                                                <!--  <h1 class="heading">RoboRaze</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/atkt.jpg" alt="" />
                                                                <!--  <h1 class="heading">ATKT.in</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/beans-pizza.png" alt="" />
                                                                <!-- <h1 class="heading">Beans Pizza</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/bisleri.png" alt="" />
                                                                <!-- <h1 class="heading">Bisleri</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/doselect.png" alt="" />
                                                                <!-- <h1 class="heading">Do Select</h1> -->

                                                            </a>
                                                        </li>

                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/food.png" alt="" />
                                                                <!-- <h1 class="heading">Vito's Cafe & Lounge</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/g4g.png" alt="" />
                                                                <!-- <h1 class="heading">GeeksforGeeks</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/GrabOn.png" alt="" />
                                                                <!--  <h1 class="heading">GrabOn</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/hackerearth.png" alt="" />
                                                                <!-- <h1 class="heading">Hackerearth</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/manya.png" alt="" />
                                                                <!-- <h1 class="heading">Manya</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/mwc.jpg" alt="" />
                                                                <!-- <h1 class="heading">Mahindra</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/nearbuy.png" alt="" />
                                                                <!--  <h1 class="heading">Nearbuy</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/OYO_Logo.png" alt="" />
                                                                <!--  <h1 class="heading">Oyo Rooms</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/proxbotics.jpg" alt="" />
                                                                <!-- <h1 class="heading">Proxbotics Creation</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/robo.jpg" alt="" />
                                                                <!--  <h1 class="heading">Roboflux</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image de" src="media/sponsors_2k17/sam_uncle.jpg" alt="" />
                                                                <!-- <h1 class="heading">Sam Uncle</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image def" src="media/sponsors_2k17/tpr.png" alt="" />
                                                                <!--  <h1 class="heading">The Princeton Review</h1> -->

                                                            </a>
                                                        </li>
                                                        <li class="hex">
                                                            <a class="hexIn" href="#">
                                                                <div class="back"></div>
                                                                <img class=" image extra" src="media/sponsors_2k17/zoom.jpg" alt="" />
                                                                <!-- <h1 class="heading">Zoom Car</h1> -->

                                                            </a>
                                                        </li>


                                                    </ul>






                                                </div>



                                            </div>

                                        </div>


                                    </div>


                                </div>




                                <% include partials/leftbar %>



                                    <% include partials/rightbar %>

                                    <% include partials/footer %>



        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>
        <script>
            $(document).ready(function () {
                var color = 'one';
                var counter = 0;
                $('.desc').hide();
                $('.hexagon11').hover(
                    function () {
                        $(this).find('.desc').fadeIn('fast');
                        counter++;
                        if (counter === 0) {
                            color = 'base';
                        } else if (counter === 1) {
                            color = 'one';
                        } else if (counter === 2) {
                            color = 'two';
                        } else if (counter === 3) {
                            color = 'three';
                        } else if (counter >= 4) {
                            counter = 0;
                            color = 'base';
                        }
                        $(this).find('.desc').addClass(color);
                    },
                    function () {
                        $(this).find('.desc').fadeOut('fast', function () {
                            $(this).removeClass(color);
                        });
                    });
            });
        </script>

</body>

</html>