<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/sponsors.css">

</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Our Sponsors</span>
                                </h1>
                            </div>

                            <div class="my-rotate">

                                <div class="uk-grid-medium" uk-grid>
                                    <ul id="hexGrid">
                                        <li class="hex">
                                            <a class="hexIn" href="http://www.havells.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/Havells_Logo.png" alt="" />
                                                <div class="headingx titles">Havells</div>
                                                <div class="headingx partners">General Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="http://www.philips.co.in/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/philips.png" alt="" />
                                                <div class="headingx titles">Philips</div>
                                                <div class="headingx partners">General Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="http://festpav.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/festPav.png" alt="" />
                                                <div class="headingx titles">FestPav</div>
                                                <div class="headingx partners">Online Media Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.facebook.com/Du-Assassins-1760313117334909/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/DUAssassins.jpg" alt="" />
                                                <div class="headingx titles">DU Assasins</div>
                                                <div class="headingx partners">Online Media Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://hipocabs.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/hippocabs-logo.jpg" alt="" />
                                                <div class="headingx titles">HippoCabs</div>
                                                <div class="headingx partners">Driven By</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.petaindia.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/peta-india-logo.svg" alt="" />
                                                <div class="headingx titles">PETA</div>
                                                <div class="headingx partners">Animal Right Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.mycaptain.in/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/MyCaptain.png" alt="" />
                                                <div class="headingx titles">MyCaptain</div>
                                                <div class="headingx partners">Knowledge Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.facebook.com/desikitchen.jaipur/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/DesiKitchen.jpg" alt="" />
                                                <div class="headingx titles">Desi Kitchen</div>
                                                <div class="headingx partners">Food Partner</div>

                                            </a>
                                        </li>
                                     <!--    <li class="hex">
                                            <a class="hexIn" href=" https://www.facebook.com/BiryaniJaipur/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/DUAssassins.jpg" alt="" />
                                                <div class="headingx titles">Hyderabadi Dum Biryani</div>
                                                <div class="headingx partners">Food Partner</div>

                                            </a>
                                        </li> -->
                                        <li class="hex">
                                                <a class="hexIn" href="http://www.designcut.in/" target="_blank">
                                                    <div class="back"></div>
                                                    <img class="image" src="media/sponsors_2k18/DesignCut.png" alt="" />
                                                    <div class="headingx titles">DesignCut</div>
                                                    <div class="headingx partners">Workshop Partner</div>
    
                                                </a>
                                            </li>
                                            <li class="hex">
                                                <a class="hexIn" href="http://www.techienest.in/" target="_blank">
                                                    <div class="back"></div>
                                                    <img class="image" src="media/sponsors_2k18/TechieNest.png" alt="" />
                                                    <div class="headingx titles">TechieNest</div>
                                                    <div class="headingx partners">Workshop Partner</div>
    
                                                </a>
                                            </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.codesdope.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/CodesDope.png" alt="" />
                                                <div class="headingx titles">CodesDope</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.hackerearth.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/HackerEarth.png" alt="" />
                                                <div class="headingx titles">HackerEarth</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="http://www.codechef.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/Codechef.png" alt="" />
                                                <div class="headingx titles">CodeChef</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="http://www.roritoworld.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/Rorito.png" alt="" />
                                                <div class="headingx titles">Rorito</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.facebook.com/safarnamastory/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/Safarnama.jpg" alt="" />
                                                <div class="headingx titles">Safarnama</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="https://www.pustakmandi.com/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/Pustakmandi.png" alt="" />
                                                <div class="headingx titles">Pustakmandi</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                        <li class="hex">
                                            <a class="hexIn" href="http://www.theenchantingverses.org/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/EnchantingVerses.jpg" alt="" />
                                                <div class="headingx titles">Enchanting Verses</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>

                                        <li class="hex">
                                            <a class="hexIn" href="http://www.halfbakedbeans.in/" target="_blank">
                                                <div class="back"></div>
                                                <img class="image" src="media/sponsors_2k18/HalfBakedBeans.jpeg" alt="" />
                                                <div class="headingx titles">HBB</div>
                                                <div class="headingx partners">Event Partner</div>

                                            </a>
                                        </li>
                                    </ul>
                                </div>







                            </div>

                        </div>


                    </div>


                </div>




                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>



        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>
        <script>
            
        </script>

</body>

</html>