<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/talks.css">


</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                                <div class="uk-position-center main-content ">

                                    <div class="scroll-content" id="style-7">
                                        <div class="inner-content">
                                            <div uk-grid>
                                                <h1 class="uk-align-center heading-text">
                                                    <span>Talks</span>
                                                </h1>
                                            </div>
                                            <div class="my-rotate">
                                                <div class="uk-grid-medium" uk-grid>
                                                    <div>
                                                        <div class="center">
                                                            <div class="he">
                                                                <div class="hex1">
                                                                    <div class="hex2">
                                                                        <div class="back"></div>
                                                                        <div class="profile-pic">
                                                                            <img src="media/talks/siddarth.png" alt="myProfile" />
                                                                        </div>
                                                                        <div class="left-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="https://www.facebook.com/Siddharth.singy" target="_blank">
                                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                                    </a>
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="right-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="http://blogs.harvard.edu/sidharvard/home/" target="_blank">
                                                                                        <i class="fa fa-globe fa-1x icon"></i>
                                                                                    </a>
                
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="profile-info">
                                                                            <h3 class="naming">Siddharth Rajhans</h3>
                                                                            <h5 class="positions">Spacify Inc.</h5>
                                                                            <h5 class="emails">
                                                                                Founder, Director
                                                                            </h5>
                                                                            
                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="center">
                                                            <div class="he">
                                                                <div class="hex1">
                                                                    <div class="hex2">
                                                                        <div class="back"></div>
                                                                        <div class="profile-pic">
                                                                            <img src="media/talks/saket.png" alt="myProfile" />
                                                                        </div>
                                                                        <div class="left-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="https://www.facebook.com/saketm0di" target="_blank">
                                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                                    </a>
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="right-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="https://en.wikipedia.org/wiki/Saket_Modi" target="_blank">
                                                                                        <i class="fa fa-wikipedia-w fa-1x icon"></i>
                                                                                    </a>
                
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="profile-info">
                                                                            <h3 class="naming">Saket Modi</h3>
                                                                            <h5 class="positions">Lucideus Tech and Cyber Security Mogul</h5>
                                                                            <h5 class="emails">
                                                                                Co-founder and CEO
                                                                            </h5>
                                                                            <!--  <h5 class="phones">
                                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5> -->
                
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                </div>
                                             
                                                <div class="uk-grid-medium" uk-grid id="upp">
                                                    <div>
                                                        <div class="center">
                                                            <div class="he">
                                                                <div class="hex1">
                                                                    <div class="hex2">
                                                                        <div class="back"></div>
                                                                        <div class="profile-pic">
                                                                            <img src="media/talks/pawan.png" alt="myProfile" />
                                                                        </div>
                                                                        <div class="left-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="www.drpawanagrawal.com" target="_blank">
                                                                                        <i class="fa fa-globe fa-1x icon"></i>
                                                                                    </a>
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="right-icons">
                                                                            <ul class="ulist">
                                                                                <li class="list">
                                                                                    <a href="https://www.linkedin.com/in/drpawanagrawal/" target="_blank">
                                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                                    </a>
                
                                                                                </li>
                
                                                                            </ul>
                                                                        </div>
                                                                        <div class="profile-info">
                                                                            <h3 class="naming">Dr. Pawan G. Agrawal</h3>
                                                                            <h5 class="positions">Mumbai Dabbawalas</h5>
                                                                            <h5 class="emails">
                                                                                CEO, Motivational Speaker
                                                                            </h5>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  
                                                    
                                                
                                                </div>
                
                                               
                
                                            </div>

                                        </div>

                                    </div>


                                </div>







                                <% include partials/leftbar %>



                                    <% include partials/rightbar %>

                                    <% include partials/footer %>



        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>