<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/team.css">


</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Our Team</span>
                                </h1>
                            </div>
                            <div class="my-rotate">
                                <div class="uk-grid-medium" uk-grid>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/anmol.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/anmol.ratnam" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/anmol-ratnam-39528bba/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Anmol Ratnam</h3>
                                                            <h5 class="positions">G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs019@lnmiit.ac.in">
                                                                    15ucs019@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7073759733</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/shivani.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/profile.php?id=100009363145763" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/shivani-manhas-52b928115/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shivani Manhas</h3>
                                                            <h5 class="positions">A.G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec059@lnmiit.ac.in">
                                                                    15uec059@lnmiit.ac.in</a>
                                                            </h5>
                                                            <!--  <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5> -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/satyam.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/s.satyamkr" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/satyam-kumar-813976114/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Satyam Kumar</h3>
                                                            <h5 class="positions">Finance & Fest Convenor</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs121@lnmiit.ac.in">
                                                                    15ucs121@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7727082396</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/swetank.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/swetank.bhardwaj" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/swetank-bhardwaj-664558109/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Swetank Bhardwaj</h3>
                                                            <h5 class="positions">Sponsorship Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs149@lnmiit.ac.in">
                                                                    15ucs149@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9799772457</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/mangal.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/collinx.sm" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://twitter.com/smcollinx" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/collinx/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://github.com/collinx" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shubham Mangal</h3>
                                                            <h5 class="positions">Website Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs138@lnmiit.ac.in">
                                                                    15ucs138@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/siddharth.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/siddharth.garg.509" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/siddharth-garg-492944108/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Siddharth Garg</h3>
                                                            <h5 class="positions">Talk Series Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec061@lnmiit.ac.in">
                                                                    15uec061@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7891724044</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/rachit.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/rachitsharma97" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/rachit-sharma/" target="_blank">
                                                                        <i class="fa fa-instagram fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Rachit Sharma</h3>
                                                            <h5 class="positions">Workshop Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs104@lnmiit.ac.in">
                                                                    15ucs104@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7073743152</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                
                                </div>

                             
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/shikhar.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/shikhardalela" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/shikhardalela/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shikhar Dalela</h3>
                                                            <h5 class="positions">Co-ordinator, Quizzinga</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs125@lnmiit.ac.in">
                                                                    15ucs125@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7742158600</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/priyansh.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/priyansh.jain.1840" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/priyansh-jain-5a831a111/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Priyansh Jain</h3>
                                                            <h5 class="positions">Co-ordinator, Astronomy</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec044@lnmiit.ac.in">
                                                                    15uec044@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 8290925378</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/gaurav.jpeg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/GK196" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/gauravkulkarni96" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Gaurav Kulkarni</h3>
                                                            <h5 class="positions">Co-ordinator, Astronomy</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs042@lnmiit.ac.in">
                                                                    15ucs042@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7742669667</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/akash.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/akash.budhaulia.9" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.instagram.com/inked.art_/?hl=en" target="_blank">
                                                                        <i class="fa fa-instagram fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Akash Budhaulia</h3>
                                                            <h5 class="positions">Design & Creative Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec009@lnmiit.ac.in">
                                                                    15uec009@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9610948728</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/anirudh.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/anirudh.saini.395" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/anirudh-saini-67a34110a/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Anirudh Saini</h3>
                                                            <h5 class="positions">Design & Creative Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15umm001@lnmiit.ac.in">
                                                                    15umm001@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9953793342</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                
                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/nitin.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://github.com/nitinprakash96" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/nitin-prakash-93579210b/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Nitin Prakash</h3>
                                                            <h5 class="positions">Operations & Setup</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs090@lnmiit.ac.in">
                                                                    15ucs090@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 8769596667</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/suyash.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/suyash.agrawal.09" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.instagram.com/suyash_ag_09/" target="_blank">
                                                                        <i class="fa fa-instagram fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Suyash Agrawal</h3>
                                                            <h5 class="positions">Fest Manager</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:16ucs192@lnmiit.ac.in">
                                                                    16ucs192@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7339875167</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/swarnim.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://facebook.com/swarnim1212" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/nimbus1212" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Swarnim</h3>
                                                            <h5 class="positions">Fest Manager</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:16uec111@lnmiit.ac.in">
                                                                    16uec111@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9431027030</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                
                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/raghav.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/raghav.malav" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.instagram.com/raghav0_0" target="_blank">
                                                                        <i class="fa fa-instagram fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Raghav Malav</h3>
                                                            <h5 class="positions">Accomodation</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:16ume038@lnmiit.ac.in">
                                                                        16ume038@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9001174280</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/kaushal.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/infernokaushal" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.instagram.com/kaushal8298" target="_blank">
                                                                        <i class="fa fa-instagram fa-1x icon"></i>
                                                                    </a>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Kaushal Mathukia</h3>
                                                            <h5 class="positions">Accomodation</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:16ucs090@lnmiit.ac.in">
                                                                    16ucs090@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 8107488298</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    
                                
                                </div>

                            </div>
                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>