<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/team.css">


</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Our Team</span>
                                </h1>
                            </div>
                            <div class="my-rotate">
                                <div class="uk-grid-medium" uk-grid>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/15355743_1258545147539560_5326754967625443063_n.jpg?oh=7ad0301177b0133718ed827cb7d6b7a6&oe=5AF9EA8B"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/anmol.ratnam" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--  <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/anmol-ratnam-39528bba/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--  <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Anmol Ratnam</h3>
                                                            <h5 class="positions">G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs019@lnmiit.ac.in">
                                                                    15ucs019@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7073759733</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/26229890_1980804252241660_9067227437966482681_n.jpg?oh=cd8c4df0a0a51462550f48542d3fb5ba&oe=5AB5F9AE"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/profile.php?id=100009363145763" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--   <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/shivani-manhas-52b928115/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--    <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shivani Manhas</h3>
                                                            <h5 class="positions">A.G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec059@lnmiit.ac.in">
                                                                        15uec059@lnmiit.ac.in</a>
                                                            </h5>
                                                            <!--  <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5> -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/16143327_628896913980013_726892360228250316_n.jpg?oh=e559085dbeb1dbe2b4ec8d5b608c86fb&oe=5AB50EB7"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/s.satyamkr" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/satyam-kumar-813976114/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Satyam Kumar</h3>
                                                            <h5 class="positions">Finance & Fest Convenor</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs121@lnmiit.ac.in">
                                                                        15ucs121@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7727082396</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/17353381_1343535622379701_3549201430137460586_n.jpg?oh=8533133fabea8fad7da2741b724a857b&oe=5AFB288E"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/swetank.bhardwaj" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--     <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/swetank-bhardwaj-664558109/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--   <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Swetank Bhardwaj</h3>
                                                            <h5 class="positions">Sponsorship Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs149@lnmiit.ac.in">
                                                                        15ucs149@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9799772457</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="https://avatars2.githubusercontent.com/u/13784830" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/collinx.sm" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://twitter.com/smcollinx" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/collinx/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://github.com/collinx" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shubham Mangal</h3>
                                                            <h5 class="positions">Website Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs138@lnmiit.ac.in">
                                                                    15ucs138@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>