<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/team.css">


</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>

                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Our Team</span>
                                </h1>
                            </div>
                            <div class="my-rotate">
                                <div class="uk-grid-medium" uk-grid>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/anmol.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/anmol.ratnam" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--  <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/anmol-ratnam-39528bba/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--  <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Anmol Ratnam</h3>
                                                            <h5 class="positions">G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs019@lnmiit.ac.in">
                                                                    15ucs019@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7073759733</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/shivani.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/profile.php?id=100009363145763" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--   <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/shivani-manhas-52b928115/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--    <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shivani Manhas</h3>
                                                            <h5 class="positions">A.G.Sec. Science & Tech</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec059@lnmiit.ac.in">
                                                                        15uec059@lnmiit.ac.in</a>
                                                            </h5>
                                                            <!--  <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5> -->

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/satyam.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/s.satyamkr" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/satyam-kumar-813976114/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Satyam Kumar</h3>
                                                            <h5 class="positions">Finance & Fest Convenor</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs121@lnmiit.ac.in">
                                                                        15ucs121@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7727082396</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/swetank.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/swetank.bhardwaj" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--     <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/swetank-bhardwaj-664558109/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--   <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Swetank Bhardwaj</h3>
                                                            <h5 class="positions">Sponsorship Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs149@lnmiit.ac.in">
                                                                        15ucs149@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9799772457</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/mangal.jpg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/collinx.sm" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://twitter.com/smcollinx" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/collinx/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <li class="list">
                                                                    <a href="https://github.com/collinx" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shubham Mangal</h3>
                                                            <h5 class="positions">Website Lead</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs138@lnmiit.ac.in">
                                                                    15ucs138@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 9571620779</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-grid-medium" uk-grid id="upp">
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/shikhar.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/shikhardalela" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/shikhardalela/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!-- <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Shikhar Dalela</h3>
                                                            <h5 class="positions">Co-ordinator, Quizzinga</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs125@lnmiit.ac.in">
                                                                    15ucs125@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7742158600</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/priyansh.jpg"
                                                                alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/priyansh.jain.1840" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                                <!--     <li class="list">
                                                                    <a href="https://google.com" target="_blank">
                                                                        <i class="fa fa-twitter fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/priyansh-jain-5a831a111/" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                                <!--   <li class="list">
                                                                    <a href="https://github.com" target="_blank">
                                                                        <i class="fa fa-github fa-1x icon"></i>
                                                                    </a>

                                                                </li> -->
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Priyansh Jain</h3>
                                                            <h5 class="positions">Co-ordinator, Astronomy</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15uec044@lnmiit.ac.in">
                                                                    15uec044@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 8290925378</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="center">
                                            <div class="he">
                                                <div class="hex1">
                                                    <div class="hex2">
                                                        <div class="back"></div>
                                                        <div class="profile-pic">
                                                            <img src="media/team/gaurav.jpeg" alt="myProfile" />
                                                        </div>
                                                        <div class="left-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.facebook.com/GK196" target="_blank">
                                                                        <i class="fa fa-facebook fa-1x icon"></i>
                                                                    </a>
                                                                </li>
                                                             
                                                            </ul>
                                                        </div>
                                                        <div class="right-icons">
                                                            <ul class="ulist">
                                                                <li class="list">
                                                                    <a href="https://www.linkedin.com/in/gauravkulkarni96" target="_blank">
                                                                        <i class="fa fa-linkedin fa-1x icon"></i>
                                                                    </a>

                                                                </li>
                                                             
                                                            </ul>
                                                        </div>
                                                        <div class="profile-info">
                                                            <h3 class="naming">Gaurav Kulkarni</h3>
                                                            <h5 class="positions">Co-ordinator, Astronomy</h5>
                                                            <h5 class="emails">
                                                                <i class="fa fa-envelope"></i>
                                                                <a class="emails" href="mailto:15ucs042@lnmiit.ac.in">
                                                                    15ucs042@lnmiit.ac.in</a>
                                                            </h5>
                                                            <h5 class="phones">
                                                                <i class="fa fa-phone"></i> +91 - 7742669667</h5>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>