<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/terms.css">


</head>

<body>

    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <%- include('partials/header', {page: 'terms'}) -%>


                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div uk-grid>
                                <h1 class="uk-align-center heading-text">
                                    <span>Terms and Conditions</span>
                                </h1>
                            </div>
                            <div uk-grid>
                                <div class="uk-panel">
                                        <div class="text-padding">
                                                <div class="heading">
                                                    Disclaimer
                                                </div>
                                                <div class="text">
                                                    This service is provided to facilitate access and make payments online. Plinth’18 or the payment service provider do not
                                                    make any representation of any kind, explicit or implicit, as to the payment gateway
                                                    other than what is specified on Plinth’s website. By accepting/agreeing to these terms
                                                    and conditions, the user agrees that the use of online payment service is entirely at
                                                    own risk and responsibility.
                                                </div>
                                                <div class="heading">
                                                    Privacy Policy
                                                </div>
                                                <div class="text">
                                                    <ul>
                                                        <li>
                                                            <span class="bolder">Information we collect :</span> We ensure that the collection of personal information
                                                            is limited to what is necessary to fulfill the purpose as mentioned. If your
                                                            information is used in a manner different than the purpose it is collected, then
                                                            we will ask you for your consent prior to its use.</li>
                                                        <li>
                                                            <span class="bolder">How do we use your information :</span> Your information will be used to process
                                                            transactions. Your information will not be sold, exchanged or given to any other
                                                            institution for reason whatsoever, without your consent, other than delivering
                                                            the purchased service or product.</li>
                                                        <li>
                                                            <span class="bolder">Cookies :</span> Plinth.in uses cookies to store information about visitors'
                                                            preferences, to personalize or customize our web page content based upon visitors'
                                                            browser type or other information that the visitor sends via their browser. Any
                                                            information collected via cookies will not be shared with any third party.</li>
                                                    </ul>
                                                </div>
                                                <div class="heading">
                                                    Consent
                                                </div>
                                                <div class="text">
                                                    By using our website, you hereby consent to our privacy policy and agree to its terms and conditions.
                                                </div>
                
                                                <div class="heading">
                                                    Cancellation Policy
                                                </div>
                                                <div class="text">
                                                    No amount will be refunded upon the cancellation of your tickets or passes. In case of any conflict, the decision of the
                                                    organizers will be final. In any event, the organizers shall not be liable for special,
                                                    punitive, consequential or incidental damages, including lost revenue, profits or other
                                                    benefits.
                                                </div>
                                            </div>
                                </div>
                            </div>
                            










                        </div>

                    </div>


                </div>





                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <%- include('partials/footer', {page: 'terms'}) -%>



                            
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>

        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>