<!DOCTYPE html>
<html>

<head>
    <% include partials/head %>
        <link rel="stylesheet" href="css/workshops.css">
        <script>
            var current;
            var next;
            var mevent;
            var mevents = <%- JSON.stringify(workshops) %> ;

        </script>
</head>

<body>
    <% include partials/loader %>
        <div id="home">
            <canvas id="canvas"></canvas>

            <% include partials/header %>
                <div class="uk-position-center main-content ">

                    <div class="scroll-content" id="style-7">
                        <div class="inner-content">
                            <div id="main-list">
                                <div>
                                    <div uk-grid>
                                        <h1 class="heading-text  uk-align-center ">
                                            <span>Workshops</span>
                                        </h1>
                                    </div>
                                    <div class="my-rotate">
                                            <div class="uk-grid-medium" uk-grid>
    
                                                <div class="boxing-left boxing">
                                                    <div class="hexagon iot-image more-details">
                                                        <div class="hexTop"></div>
                                                        <div class="hexBottom"></div>
                                                        <div class="hexagon-hidden hover">
                                                            <div class="hexTop" id="hiddenArea"></div>
                                                            <div class="hexBottom" id="hiddenArea"></div>
    
                                                            <div class="statement">Internet Of Things</div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="boxing-right boxing">
                                                    <div class="hexagon scribbled-image more-details">
                                                        <div class="hexTop"></div>
                                                        <div class="hexBottom"></div>
                                                        <div class="hexagon-hidden hover">
                                                            <div class="hexTop" id="hiddenArea"></div>
                                                            <div class="hexBottom" id="hiddenArea"></div>
    
                                                            <div class="statement">Scribbled Stories</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
    
    
    
                                        </div>
                                </div>
                            </div>

                            <div id="details">
                                <div>
                                    <div uk-grid>
                                        <span class="back-back-icon">
                                            <i class="fa fa-arrow-left fa-3x" aria-hidden="true"></i>
                                        </span>
                                        <h1 class="heading-text uk-align-center">
                                            <span id='clubName'></span>
                                        </h1>
                                    </div>

                                    <div>

                                        <h1 class="heading-li uk-align-center ">
                                            <span id='eventName'></span>
                                        </h1>
                                    </div>

                                    <div>
                                        <ul class="uk-list text-list  uk-text-center uk-list-medium">
                                            <li id="fees">
                                                Fee :
                                                <span id='eventFee'></span>
                                            </li>
                                            <li>
                                                Date :
                                                <span id='eventDate'></span>
                                            </li>
                                            <li>
                                                Venue :
                                                <span id='eventVenue'></span>
                                            </li>


                                            <li id="company">
                                                Organized By :
                                                <span id='eventCompany'></span>
                                            </li>
                                            <br>
                                            <li>
                                                <% if(isLoggedIn){ %>


                                                    <a class="uk-button button-font uk-button-default uk-button-large" href="#">Workshop Registeration</a>
                                                    <% } else { %>
                                                        <a class="uk-button button-font uk-button-default uk-button-large" href="#register-center" uk-toggle>Register</a>
                                                        <% } %>
                                            </li>

                                            <br>
                                        </ul>




                                    </div>

                                    <div class="my-rotate">
                                        <div uk-grid>
                                            <ul id="tabs" class="uk-flex-center uk-text-center" uk-tab>
                                                
                                                <li class="uk-active">
                                                    <a id="synopsis" href="#">Synopsis</a>
                                                </li>
                                                <li >
                                                    <a id="description" href="#">Event Description</a>
                                                </li>
                                                <li>
                                                    <a id="highlights" href="#">Highlights</a>
                                                </li>
                                                <li>
                                                    <a id="workshopContent" href="#">Workshop Structure</a>
                                                </li>
                                                <li>
                                                    <a id="rules" href="#">Rules</a>
                                                </li>
                                                <li>
                                                    <a id="benefits" href="#">Benefits</a>
                                                </li>

                                                <li>
                                                    <a id="contact" href="#">Contact</a>
                                                </li>

                                            </ul>


                                            <div id="tab">

                                            </div>




                                        </div>




                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>


                </div>






                <% include partials/leftbar %>



                    <% include partials/rightbar %>

                        <% include partials/footer %>




        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- UIkit JS -->
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <script src="js/workshops.js"></script>
        <script src="js/canvasloader.js"></script>
        <script src="js/slowStar.js"></script>


</body>

</html>