<div class="uk-position-bottom less-padding">
    
                <nav class="uk-navbar-container uk-navbar-transparent uk-light uk-visible@m" uk-navbar>
    
    
                    <div class="uk-navbar-center ">
    
                        <div>
                            <ul class="uk-navbar-nav fontset1">
                                    <li <%if(page=="about"){%>class="uk-active"<%}%> > 
                                    <a href="/about">About Us</a>
                                </li>
                                <li <%if(page=="sponsors"){%>class="uk-active"<%}%> > 
                                    <a href="/sponsors">Sponsors</a>
                                </li>
                                <li <%if(page=="team"){%>class="uk-active"<%}%> > 
                                    <a href="/team">Our Team</a>
                                </li>
                                <li <%if(page=="faqs"){%>class="uk-active"<%}%> > 
                                    <a href="/faqs">FAQs</a>
                                </li>
                                <li <%if(page=="gallery"){%>class="uk-active"<%}%> > 
                                    <a href="/gallery">Gallery</a>
                                </li>
                                <li <%if(page=="contact"){%>class="uk-active"<%}%> > 
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li <%if(page=="terms"){%>class="uk-active"<%}%> > 
                                    <a href="/terms">Terms and Condition</a>
                                </li>
                                <li <%if(page=="archive"){%>class="uk-active"<%}%> > 
                                    <a href="/archive">Archive</a>
                                </li>
                            </ul>
    
                        </div>
    
                    </div>
                </nav>
    
                <nav class="uk-navbar-container uk-navbar-transparent uk-light uk-hidden@m" uk-navbar>
                    <div class="uk-navbar-center ">
                        <ul class="uk-navbar-nav fontset1">
                                <li <%if(page=="about"){%>class="uk-active"<%}%> > 
                                <a href="/about">About Us</a>
                            </li>
                            <li <%if(page=="sponsors"){%>class="uk-active"<%}%> > 
                                <a href="/sponsors">Sponsors</a>
                            </li>
                            <li <%if(page=="team"){%>class="uk-active"<%}%> > 
                                <a href="/team">Our Team</a>
                            </li>
                            <li <%if(page=="faqs"){%>class="uk-active"<%}%> > 
                                <a href="/faqs">FAQs</a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
                <nav class="uk-navbar-container uk-navbar-transparent uk-light uk-hidden@m " uk-navbar>
    
                    <div class="uk-navbar-center ">
                        <ul class="uk-navbar-nav fontset1">
                                <li <%if(page=="gallery"){%>class="uk-active"<%}%> > 
                                <a href="/gallery">Gallery</a>
                            </li>
                            <li <%if(page=="contact"){%>class="uk-active"<%}%> > 
                                <a href="/contact">Contact Us</a>
                            </li>
                            <li <%if(page=="terms"){%>class="uk-active"<%}%> > 
                                <a href="/terms">Terms and Condition</a>
                            </li>
                            <li <%if(page=="archive"){%>class="uk-active"<%}%> > 
                                <a href="/archive">Archive</a>
                            </li>
    
                        </ul>
    
                    </div>
                </nav>
            </div>