<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>  <%= page.charAt(0).toUpperCase() + page.slice(1); %>  | Plinth 2018, LNMIIT Jaipur | Techno-Management Literary Fest</title>

<meta property="og:title" content="Plinth 2018, LNMIIT Jaipur | Techno-Management Literary Fest">
<meta property="og:type" content="website">
<meta property="og:url" content="https://plinth.in">
<meta property="og:image" content="https://plinth.in/media/plinth.jpg">
<meta property="og:description" content="Plinth: 19th to 21st January. LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">

<meta name="author" content="Shubham Mangal">
<meta name="theme-color" content="#010202">
<meta name="description" content="Plinth: 19th to 21st January. LNMIIT presents Techno-Management Literary Fest. Get ready for an awesome breathtaking journey.">
<meta name="keywords" content="competitions, workshops, pro-night, jaipur, fest, India, Rajasthan, best, college, university, biggest, largest, lnmiit, mittal, students, robots, country, campaign, initiative, sponsors, games, artists,international, contacts, plinth lnmiit, plinth_lnmiit, plinthlnmiit, plinth.lnmiit, awesome, Science, Technology, lectures, talks, exhibitions, student outreach program, astronomy, robotics, startup, coding, iupc, codeswap, robowar, roborace, astro hunt, astro quiz, quiz, quizzinga, robosoccer, drone, maaze solver, transporter, rc place, sif, startup intern fair, intern fair, fair, tech shows , tech entertainment, tech extravaganza, revolution, social, exhibitions, 2k16, 2k17, 2k18, 2016, 2017, 2016-17, 2017-18, plinth2k18, CAP, ca, cA, CAMPUS, campus ambassador, 2018, leader, mun">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@plinthlnmiit">
<meta name="twitter:creator" content="@smcollinx">

<meta name="twitter:title" content="Plinth 2018, LNMIIT Jaipur | Techno-Management Literary Fest">
<meta name="twitter:description" content="Come Join Your Friends on an awesome TechFest!! #Plinth #P2k18.">
<meta name="twitter:image" content="https://plinth.in/media/plinth.jpg">
<meta name="twitter:domain" content="plinth.in">

<!-- UIkit CSS -->
<link rel="stylesheet" href="css/uikit.min.css" />
<link rel="stylesheet" href="css/common.css">

<link rel="favicon icon" href="favicon.ico" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109689316-1"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-109689316-1');
</script>

<!-- <script>
    console.log = function(){};
</script> -->