<div class="uk-position-top  less-padding">
    <nav class="uk-navbar-container uk-navbar-transparent uk-light less-padding uk-visible@m" uk-navbar>


        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" href="#">
                <img src="media/logo.svg" width="85px" alt="">
            </a>
        </div>


        <div class="uk-navbar-right">

            <div>
                <ul class="uk-navbar-nav fontset">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/competitions">Competitions</a>
                    </li>
                    <li>
                        <a href="/workshops">Workshops</a>
                    </li>
                    <li>
                        <a href="/talks">Talks</a>
                    </li>
                    <li>
                        <a href="/mun">LNMIIT MUN</a>
                    </li>
                    <li>
                        <a href="/sop">SOP</a>
                    </li>

                    <li>
                        <a href="#">Register/Login</a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <nav class="uk-navbar-container uk-navbar-transparent uk-light  less-padding uk-hidden@m" uk-navbar>


        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" href="#">
                <img src="media/logo.svg" width="60px" alt="">
            </a>
        </div>


        <div class="uk-navbar-right">

            <div>
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>

            </div>

        </div>
    </nav>


</div>