


<div class="uk-position-top-right uk-visible@m uk-padding-small margin-extra">

  
    <a id='bus' class="uk-button btn normal" href='../media/Bus Schedule.pdf' target="_blank">
      <svg>
        <rect x="0" y="0" fill="none" width="150" height="30" />
      </svg>
      Bus Timings
    </a>
    <br>
   
             
        <a id='sc' class="uk-button btn normal" href='https://drive.google.com/open?id=1anEpQpY7RpnE5umcRwdFhP_ll9FLACMOzGB2FCvi7gQ' target="_blank">
                <svg>
                  <rect x="0" y="0" fill="none" width="150" height="30" />
                </svg>
                Schedule
              </a>
         
    </div>