<div class="uk-position-top-right uk-visible@m uk-padding-small margin-extra">

        <a id='ca' class="uk-button btn" href='/ca'>
                <svg>
                  <rect x="0" y="0" fill="none" width="166" height="45" />
                </svg>
                Campus
                <br>
                Ambassador
              </a>
</div>

