<div class="uk-position-center-left uk-visible@m uk-padding-small ">
    <ul class="uk-iconnav uk-iconnav-vertical">
        <li>P</li>
        <li>L</li>
        <li>I</li>
        <li>N</li>
        <li>T</li>
        <li>H</li>
        <li> </li>
        <li>2</li>
        <li>0</li>
        <li>1</li>
        <li>8</li>
    </ul>
</div>