<div class="uk-offcanvas-content">
    
    
    
                <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true">
                    <div class="uk-offcanvas-bar">
    
                        <button class="uk-offcanvas-close" type="button" uk-close></button>
    
                        <ul class="uk-nav uk-nav-default offtext uk-text-center">
                            <li >
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/competitions">Competitions</a>
                            </li>
                            <li>
                                <a href="/workshops">Workshops</a>
                            </li>
                            <li>
                                <a href="/talk">Talks</a>
                            </li>
                            <li>
                                <a href="/mun">LNMIIT MUN</a>
                            </li>
                            <li>
                                <a href="/sop">SOP</a>
                            </li>
    
                            <li>
                                <a href="#">Register/Login</a>
                            </li>
    
                            <li>
                                <ul class="uk-iconnav icon-pack">
                                    <li>
                                        <a href="https://twitter.com/plinthlnmiit?lang=en" uk-icon="icon: twitter; ratio: 1.5"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Plinth.LNMIIT/" uk-icon="icon: facebook; ratio: 1.5"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/plinth.lnmiit/" uk-icon="icon: instagram; ratio: 1.5"></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/user/PlinthLNMIITJaipur" uk-icon="icon: youtube; ratio: 1.5"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
    
            </div>