<div class=" uk-position-center-right uk-visible@m rightb uk-padding-small">

        
            
    <ul class="uk-iconnav uk-iconnav-vertical">
        <li>
            <a href="https://twitter.com/plinthlnmiit?lang=en" uk-icon="icon: twitter; ratio: 1.5"></a>
        </li>
        <li>
            <a href="https://www.facebook.com/Plinth.LNMIIT/" uk-icon="icon: facebook; ratio: 1.5"></a>
        </li>
        <li>
            <a href="https://www.instagram.com/plinth.lnmiit/" uk-icon="icon: instagram; ratio: 1.5"></a>
        </li>
        <li>
            <a href="https://www.youtube.com/user/PlinthLNMIITJaipur" uk-icon="icon: youtube; ratio: 1.5"></a>
        </li>
    </ul>
</div>
